[2017-12-07 15:23] OlegoO opened #7 "Create tests for VirtoCommerce.com"
As a manager, I want to be sure that VirtoCommerce works as expected after update

### Acceptance criteria
- GIVEN  VirtoCommerce store
WHEN I start E2E test
THEN I should get health status of Staging and production environment.

### Definition of Done
- [x] Created E2E tests for Staging
- [x] Created E2E tests for Production
- [x] Created manual check list if we can not create automatic tests
- [

[2017-12-25 13:32] vkrashenko commented on #7
[vccom health manual check list.docx](https://github.com/VirtoCommerce/vc-content/files/1585880/vccom.health.manual.check.list.docx)

[2017-12-28 12:52] tatarincev opened #8 "Move Blade constructor and Style guide from platform to the virtocommerce.com theme"
these links:
StyleGuide - https://virtocommerce.com/styleguide/index.html
Blade construction - https://virtocommerce.com/styleguide/blade-constructor.html
Should be moved from this location
https://github.com/VirtoCommerce/vc-platform/tree/master/Design/documentation
to this theme.
And must still be accessible by old URLs, after automatically theme deployment

[2018-01-12 09:42] #8 closed

[2018-01-31 12:36] #7 closed

[2018-01-31 13:01] OlegoO opened #9 "Community section"
**Sign-in into Community section**
GIVEN VirtoCommerce store
WHEN I'm ANONYMOUS user and Open Community section
THEN I should be redirected to login form
THEN I can sign-in to Community via Github or Stack overflow account
THEN I should be redirected to  Community section

**View Become a contributor block if I have not sent request yet**
GIVEN Community section
WHEN I have not completed Become a

[2018-02-13 16:44] OlegoO opened #10 "Getting started popup"
As a Customer, I want to see Getting started popup.
GIVEN VirtoCommerce store
WHEN an User clicks on Contact US form
THEN I should see Getting started popup

- [x] Create html design.
- [x] Test on phone, tablet and desctop mode + all mode browsers: IE, Chrome, Firefox, Edge, Safari
- [x] Implement Getting started popup on contact-us button
- [x] Remove Try now button from layout

here is a mockup

[2018-02-28 08:59] OlegoO opened #11 "As an End Customer I want to request a new password for the store-front"
End Customer should be able to request to reset password via 'Forgot password' link. New password should be sent via email.

AC
- [x]  GIVEN I have opened the sign-in-block page in the storefront WHEN I click "Forgot my password" link THEN I should be redirected to the "Forgot my password" page with a text input field where I can put my email on.

- [x]  GIVEN I have my account on the storefront w

[2018-03-02 06:59] OlegoO opened #12 "As an anonymous user I want to signup into VC portal."
As an anonymous user I want to signup into VC portal.

- [x] GIVEN I'm anonymous user
WHEN I click Signup action
THEN I should be redirected to SignUp form with Email text field, "Sign up for a free account" button, Login via GitHub button

- [x] GIVEN SignUp form
WHEN I enter valid email and press "Sign up for a free account" button
THEN I should be redirected Congratulation page with Congratulat

[2018-03-12 15:22] OlegoO opened #13 "Lessons - Lesson 1 - How to run VirtoCommerce application locally"
As a Developer, I want to setup of VirtoCommerce application (Runtime version) locally, so that I could test solution with demo data locally.

Definition of done:
- [x] Prerequisites
- [x] Initial configuration of VirtoCommerce Platform (Runtime version)
- [x] Initial configuration of VirtoCommerce Modules (Runtime version)
- [x] Initial configuration of VirtoCommerce Demo Data
- [x] Initial setup

[2018-03-13 07:43] OlegoO opened #14 "[Draft] Documentation - Platform Overview - Architecture Overview"
Modern Stack of technologies:
* .NET Framework
* .NET Core
* Angular - for SPA user interface. One of the major decisions for picking it is due to its popularity and quality documentation.
* ASP.NET MVC - as a web hosting technology
* ASP.NET Web API - to implement REST services
* ASP.NET Identity - tasks related to authorization and authentication
* Entity Framework - ORM
* ElasticSearch  – full

[2018-03-14 16:22] n2pro commented on #12
I'm anonymous user  I see:
![1](https://user-images.githubusercontent.com/13115017/37415284-c2ceb81e-27b3-11e8-953c-dc6451ad4c7c.JPG)
I'm anonymous user I click get free account, I see :
![2](https://user-images.githubusercontent.com/13115017/37415350-ea7fd5fa-27b3-11e8-9175-022800cfdfa4.JPG)
I enter invalid email, I see:
![3](https://user-images.githubusercontent.com/13115017/37415448-1aa502a0-27

[2018-03-15 00:31] MalikJuly commented on #13
vc-content cloned

[2018-03-22 09:33] OlegoO commented on #13
https://github.com/VirtoCommerce/vc-content/blob/lesson1/Pages/docs/lessons/lesson1.md

[2018-03-28 12:31] OlegoO opened #16 "As a Contributor, I want to see Contributor section"
GIVEN I'm registered user
AND I don't sign the CLA for VirtoCommerce/vc-platform
THEN I should see that invitation to sign CLA and become contributor in vc-community section

GIVEN I'm registered user
AND I don't sign the CLA for VirtoCommerce/vc-platform
WHEN when I click to "Become a contributor"
THEN I should be redirected to https://cla-assistant.io/VirtoCommerce/vc-platform

GIVEN I'm registe

[2018-03-28 12:34] OlegoO commented on #16
Need investigate, how we can check that user has signed  the CLA for VirtoCommerce/vc-platform, because

https://github.com/cla-assistant/cla-assistant#faq
You can see the list of signees on the user interface. There is also a possibility for you to export the list as a .csv file.

[2018-03-28 15:06] n2pro commented on #16
It is necessary to check the presence of the list. [cla-assistant issue](https://github.com/cla-assistant/cla-assistant/issues/166)

[2018-04-02 13:34] OlegoO commented on #13
@n2pro Merge to DEV and QA

[2018-04-02 13:49] OlegoO opened #19 "Lessons - Lesson 2 - How to import my catalog"
As a Developer, I want to import my products into catalog, so that I could test solution with my data locally.

Definition of done:
- [ ] Prerequisites Catalog file with 15 products
- [ ] Describe how to create Catalog Data in Excel format: SKU, Title, Properties, Price, Image(s). Supported types.
- [ ] Import and additional steps (like re-index, reset cache)
- [ ] Open a new product on Admin
- [

[2018-04-04 10:43] OlegoO opened #20 "Fix Mobile & Table view on b2b-ecommerce-platform page"
We should fix Mobile & Table view on b2b-ecommerce-platform page
on b2b-ecommerce-platform.

Acceptance Criteria:
- [x] Chrome (Mobile, Table, Desktop)
- [x] Safari (Mobile, Table, Desktop)
- [x] Edge (Mobile, Table, Desktop)
- [x] IE (Mobile, Table, Desktop)

[2018-04-04 10:59] OlegoO commented on #13
Ready for QA

[2018-04-04 14:24] dimitri-ak commented on #13
After deploy to production I can see the following:
![image](https://user-images.githubusercontent.com/7642075/38313577-aa923f56-3824-11e8-907a-5af195488142.png)

Is it correct?

[2018-04-04 14:40] OlegoO opened #22 "Wrong link on github source for lesson1.md"
### Expected behavior
https://github.com/VirtoCommerce/vc-content/blob/deploy/pages/docs/lessons/lesson1.md

### Actual behavior
https://github.com/VirtoCommerce/vc-content/blob/deploy/Pages/docs/lessons/lesson1.md

### Steps to reproduce
1. Open https://virtocommerce.com/docs/lessons/lesson1
2. Click on  Edit on GitHub
3. Now I see 404 error
https://github.com/VirtoCommerce/vc-content/blob/deploy

[2018-04-04 15:18] OlegoO commented on #22
Fixed in Dev

[2018-04-05 07:19] OlegoO commented on #13
Published https://virtocommerce.com/docs/lessons/lesson1

[2018-04-05 07:19] #13 closed

[2018-04-05 13:22] OlegoO opened #23 "Lessons pages - update meta description"
Update

[2018-04-05 13:29] OlegoO commented on #23
Ready for QC

[2018-04-05 15:40] OlegoO commented on #23
Fixed

[2018-04-05 15:40] #23 closed

[2018-04-05 15:40] OlegoO commented on #22
Fixed

[2018-04-05 15:40] #22 closed

[2018-04-06 07:31] n2pro opened #24 "Redisign glossary"
Helpdesk Ticet: 7452
Redesign of the following pages in accordance with the layout:
- [x] /b2b-ecommerce-companies-websites
- [x] /best-ecommerce-platforms
- [x]  /what-is-b2b-ecommerce

[2018-04-11 07:24] n2pro commented on #24
@AndrewYunisov available on [qc](https://vc-public-qc.azurewebsites.net) for verification.

[2018-04-11 08:01] n2pro commented on #20
@OlegoO This page avalble [here](https://vc-public-qc.azurewebsites.net/b2b-ecommerce-platform) for verification.

[2018-04-11 09:27] AndrewYunisov commented on #24
@n2pro , please change 2017 to 2018 at /glossary/best-ecommerce-platforms in all text items and meta tags. I forgot to mention that I changed it on the current website after we started this redesign.

[2018-04-11 10:45] n2pro commented on #24
@AndrewYunisov fixed 2018

[2018-04-11 10:47] AndrewYunisov commented on #24
@n2pro , good to go on production. Please, proceed.

[2018-04-11 10:49] OlegoO commented on #20
Approved

[2018-04-12 06:31] #24 closed

[2018-04-12 06:31] #20 closed

[2018-04-12 18:49] AndrewYunisov opened #28 "Add GA event while clicking "Read case study" buttons"
We need to track these clicks in GA using event tracking. Pages where buttons exist:
- https://virtocommerce.com/glossary/best-ecommerce-platforms
- https://virtocommerce.com/glossary/b2b-ecommerce-companies-websites
- https://virtocommerce.com/glossary/what-is-b2b-ecommerce
- https://virtocommerce.com/case-studies
Please, add the GA event to all the buttons "Read case study" and "Read more case s

[2018-04-12 18:51] Woland2k commented on #28
we should use segment to publish events, that way they are also available in CRM

[2018-04-12 18:52] AndrewYunisov commented on #28
@Woland2k , I am not aware of how can this be done. Can you help, please?

[2018-04-12 18:55] Woland2k commented on #28
Developer should know, here is one document describing how to do that: https://segment.com/blog/segment-tracking-plan/

[2018-04-17 07:20] AndrewYunisov opened #29 "Remove links from footer"
Please, remove 3 links from footer page as we don't need them now - https://screencast.com/t/wVFpVzAaffR5. We should avoid huge footer as it looks now.

[2018-04-17 07:31] AndrewYunisov opened #30 "/apps is not working properly"
The apps aren't shown - https://screencast.com/t/BLH42tV2B6.

[2018-04-17 07:46] AndrewYunisov opened #31 "Updates to /our-offers/cloud-ecommerce-platform"
1) insert the block "BEST CLOUD ECOMMERCE PLATFORM INTEGRATIONS"
Include the same apps as here - https://screencast.com/t/DhE7hC1n7X.
2) This block should be centered - https://screencast.com/t/tIXa3nn9mLmS.
Add the text: CLOUD ECOMMERCE PLATFORM BUILT USING CUTTING-EDGE WEB TECHNOLOGIES
before it just like here - https://screencast.com/t/hi8uVMgYKs
3) Add the block "What experts are saying about

[2018-04-17 08:01] AndrewYunisov opened #32 "Updates to /b2b-ecommerce"
1. Add the block "What experts are saying about our B2B ecommerce software?":
Here is the proposed design - https://screencast.com/t/l1z3XhwM1.
Content:
5/5 Ecommerce-Platforms.com
"A Highly Advanced B2B E-commerce Software For Serious Business"
https://ecommerce-platforms.com/articles/virtocommerce-review-highly-advanced-enterprise-ecommerce-platform-serious-business (link should be nofollow)
5/5

[2018-04-17 08:13] AndrewYunisov opened #33 "Updates to /"
1) Add the block "What experts are saying about our enterprise e-commerce platform?" before SEO text:
Here is the proposed design - https://screencast.com/t/l1z3XhwM1.
Content:
5/5 Ecommerce-Platforms.com
"A Highly Advanced Enterprise E-commerce Platform For Serious Business"
https://ecommerce-platforms.com/articles/virtocommerce-review-highly-advanced-enterprise-ecommerce-platform-serious-busines

[2018-04-17 08:20] AndrewYunisov opened #34 "Merge commit on /asp-net-shopping-cart"
https://github.com/VirtoCommerce/vc-content/commit/de33c71ba968ea53f42e046698e7055c260ce58c

[2018-04-17 08:35] AndrewYunisov opened #35 "Updates to /glossary/best-ecommerce-platforms"
1) There are multiple H2 tags on the page. We need to have single H2 here - https://screencast.com/t/r9dgsRxB8h. All the rest should be visually the same, but with no H2 in the code.
2) Under the "BEST ECOMMERCE PLATFORM" please add "20 BEST E COMMERCE PLATFORM CONTENDERS" with the names of the platforms in the list with anchor links to them.
3) Change title to:
<title>20 best ecommerce platforms

[2018-04-17 09:13] AndrewYunisov opened #36 "Updates to /glossary/shopify-alternatives"
1) Switch the page to the new design template that we did with other pages
2) Change title to:
<title>Top 10 Shopify alternatives in 2018. 10 best Shopify competitors.</title>
3) Change H1 to:
<h1 itemprop="headline" class="title">Top 10 Shopify alternatives. 10 best Shopify competitors. The best alternatives to Shopify in 2018.</h1>
4) <meta name="description" content="Any ecommerce platform has

[2018-04-17 10:33] OlegoO opened #37 "update vc-community blocks"
Reorganize positions of blocks:
1. COMMUNITY RESOURCES
2. BECOME A CONTRIBUTOR
3. COMMUNITY SUPPORT (add new block)
4. GET COMMUNITY LICENSE
5. ADD APP TO MARKETPLACE

COMMUNITY RESOURCES
* Documentation (/docs)
** Getting Started (/docs/vc2devguide/getting-started)
** Lessons (/docs/lessons)
* Roadmap
* Github repositories structure (https://github.com/VirtoCommerce/)
** VirtoCommerce Platform re

[2018-04-17 12:49] n2pro commented on #37
Added [new block ](https://vc-public-qc.azurewebsites.net/vc-community)to the community.

[2018-04-17 14:40] tatarincev opened #38 "Rewrite "Extending using events" article"
https://virtocommerce.com/docs/vc2devguide/extending-commerce/extending-using-events
There is described an old approach for working with domain events need to replace to follow content

**The new way to work with domain events**
   * Define the new event
[code]
   * Define the new event handler
[code]
   * Register the event handler
[code]
   * Raise the domain event
[code]
* Override already exis

[2018-04-17 16:03] n2pro opened #39 "Update e2e tests for vccom"
Update
- [ ] Main page
- [ ] Glossary
- [ ] Other pages

Add test
- [ ] Community

[2018-04-17 16:45] #37 closed

[2018-04-17 16:45] #10 closed

[2018-04-17 16:45] #9 closed

[2018-04-17 16:45] #12 closed

[2018-04-17 16:48] OlegoO commented on #29
@n2pro please add screenshot and comment how to test it

[2018-04-17 17:30] OlegoO opened #40 "mobile menu doesn't have getting started menu"
As a customer, I want to see same menu on desktop, tablet and mobile view.
![image.png](https://images.zenhubusercontent.com/58e3abe551aa2c30577a5813/fae57f02-bb1e-46e4-bb3a-9909f3e3bd20)
![image.png](https://images.zenhubusercontent.com/58e3abe551aa2c30577a5813/bbf54074-0c7a-45b1-b5e2-b860dd06d043)

[2018-04-17 20:33] OlegoO opened #41 "Uncaught ReferenceError: openContactUs is not defined"
JavaScript error "Uncaught ReferenceError: openContactUs is not defined" is occured if click "Getting Started"  on docs, blogs, glossary, guides and tilda pages

Example:
https://virtocommerce.com/blog
https://virtocommerce.com/blog/way-you-manage-product-information-is-affecting-your-sales
https://virtocommerce.com/docs
https://virtocommerce.com/docs/lessons
https://virtocommerce.com/glossary

[2018-04-17 20:47] #11 closed

[2018-04-17 22:45] Woland2k opened #42 "About us page should be mobile friendly"
https://virtocommerce.com/about-us

[2018-04-18 07:26] n2pro commented on #40
The updated menu is available [here ](https://staging.virtocommerce.com/)
![image](https://user-images.githubusercontent.com/13115017/38917195-4902190c-42ea-11e8-9b33-19a2b7593288.png)

[2018-04-18 07:29] AndrewYunisov commented on #29
OK to release.

[2018-04-18 08:12] OlegoO commented on #40
@Woland2k  @n2pro Now, mobile menu is configurable via Link list
![image](https://user-images.githubusercontent.com/7639413/38916570-3d94bdce-42e8-11e8-934c-06bb96578867.png)
![image](https://user-images.githubusercontent.com/7639413/38919384-b77d382a-42f0-11e8-839b-276f88a8d70f.png)

To be consistent, I will create a new ticket to move all menu to link list

[2018-04-18 08:12] #40 closed

[2018-04-18 10:08] n2pro commented on #36
The update page is available [here](https://vc-public-qc.azurewebsites.net/glossary/shopify-alternatives).
![image](https://user-images.githubusercontent.com/13115017/38925897-374b1026-4301-11e8-91ed-ee3db37ba038.png)

[2018-04-18 10:11] n2pro commented on #36
@AndrewYunisov I do not understand. Could you imagine schematically

[2018-04-18 14:14] n2pro commented on #35
Updated this page  [here](https://vc-public-qc.azurewebsites.net/glossary/best-ecommerce-platforms)
![image](https://user-images.githubusercontent.com/13115017/38937436-7df2cfba-4323-11e8-8609-4889688efcd4.png)

[2018-04-18 15:07] n2pro commented on #31
Updated this page [here](https://vc-public-qc.azurewebsites.net/vccom/our-offers/cloud-ecommerce-platform).
![image](https://user-images.githubusercontent.com/13115017/38940635-eed96368-432a-11e8-88d3-69bceddc6690.png)

[2018-04-18 15:40] n2pro commented on #41
Fixed getting start dialog on these pages.

[2018-04-18 15:49] n2pro commented on #32
@AndrewYunisov, @OlegoO   I offer bread crumbs in a separate ticket, since there are some difficulties with this.

[2018-04-18 16:08] AndrewYunisov commented on #35
2) Instead of orange buttons here - https://screencast.com/t/KDCg2wgJ just create the list of names with anchor links. Just a regular list on the white background.

[2018-04-18 16:47] n2pro commented on #36
Updated this page [here](https://vc-public-qc.azurewebsites.net/glossary/shopify-alternatives).

[2018-04-19 06:52] AndrewYunisov commented on #36
Instead of orange buttons here - https://screencast.com/t/KDCg2wgJ just create the list of names with anchor links. Just a regular list on the white background.

[2018-04-19 07:08] n2pro commented on #34
On [production](https://virtocommerce.com/asp-net-shopping-cart).

[2018-04-19 07:08] #34 closed

[2018-04-19 07:48] n2pro commented on #35
Fixed on list links.
![image](https://user-images.githubusercontent.com/13115017/38978121-be9dcf40-43b6-11e8-9758-eb1167f6a75c.png)

[2018-04-19 07:51] n2pro commented on #36
Fixed list links.
![image](https://user-images.githubusercontent.com/13115017/38978293-42c1dca8-43b7-11e8-9a63-d0503425c631.png)

[2018-04-19 07:59] n2pro commented on #32
@AndrewYunisov footer is common for all pages, for one page it does not work. It is better to make a separate task

[2018-04-19 08:05] n2pro commented on #31
Fixed [this page.](https://vc-public-qc.azurewebsites.net/our-offers/cloud-ecommerce-platform)
![image](https://user-images.githubusercontent.com/13115017/38978946-28002af8-43b9-11e8-960c-fdaf93bc4865.png)

[2018-04-19 09:14] AndrewYunisov commented on #35
1) CONTENDER -> CONTENDERS
2) Please center these 2 columns.
Could be released after.

[2018-04-19 09:16] AndrewYunisov commented on #36
In this case should be aligned at left, please. Also the block title should be on grey background as others on the page.
Then could be released.

[2018-04-19 09:16] AndrewYunisov commented on #32
Make it not in footer then, but in the last line of page template.

[2018-04-19 09:17] AndrewYunisov commented on #31
Could be released.

[2018-04-19 14:37] YonasShvabas opened #44 "Link to MS Gold Partner page"
At the bottom of the [main page](https://virtocommerce.com/) there is an incorrect link to [MS Gold Certified Partner](https://pinpoint.microsoft.com/en-us/companies/4298254222).

[2018-04-19 15:08] n2pro commented on #33
Updated [this page.](https://vc-public-qc.azurewebsites.net/)

[2018-04-19 15:13] n2pro commented on #36
Updated [this page.](https://vc-public-qc.azurewebsites.net/glossary/shopify-alternatives)

[2018-04-19 17:41] AndrewYunisov commented on #36
OK, last one  - add numbers in this list, please. Example - https://screencast.com/t/zbb8blmMVn

[2018-04-19 18:42] AndrewYunisov commented on #33
1) WHAT EXPERTS ARE SAYING ABOUT OUR B2B ECOMMERCE SOFTWARE?
 - I wrote that it should be called "What experts are saying about our enterprise e-commerce platform?"
2) Same with OUR B2B CUSTOMERS ABOUT THE PLATFORM. It should be called OUR CUSTOMERS ABOUT ENTERPRISE E-COMMERCE PLATFORM as per my comment below.

Please, change this and upload to production.

[2018-04-20 13:01] n2pro commented on #36
Updated [this page.](https://vc-public-qc.azurewebsites.net/glossary/shopify-alternatives)
![image](https://user-images.githubusercontent.com/13115017/39052236-a6709c40-44ab-11e8-98ec-6f2ba4ffd8d4.png)

[2018-04-20 13:13] n2pro commented on #33
![image](https://user-images.githubusercontent.com/13115017/39052756-563bf056-44ad-11e8-8486-f311b4ecc5d5.png)

[2018-04-20 13:35] n2pro commented on #32
Updated [this page](https://vc-public-qc.azurewebsites.net/b2b-ecommerce-platform)
![image](https://user-images.githubusercontent.com/13115017/39053855-5d5a0424-44b0-11e8-9156-70edf930bcd7.png)

[2018-04-20 13:40] AndrewYunisov commented on #36
Can be released.

[2018-04-20 13:42] AndrewYunisov commented on #33
Can be released.

[2018-04-20 13:43] AndrewYunisov commented on #32
Can be released.

[2018-04-20 14:03] n2pro commented on #35
Update [this page](https://vc-public-qc.azurewebsites.net/glossary/best-ecommerce-platforms)
![image](https://user-images.githubusercontent.com/13115017/39055367-595a317e-44b4-11e8-87b2-8c70a21b668a.png)

[2018-04-20 14:14] AndrewYunisov commented on #35
Can be released.

[2018-04-23 14:43] AndrewYunisov opened #45 "Download case study pages"
Hi all,
We need to create a page for each case study in the section https://virtocommerce.com/case-studies. The button will lead not to PDF, but to a separate page of the website. Here is the design - https://yadi.sk/d/AQCC9hGv3Ug573 of a single page. As a top picture we take the website screenshot (customer's website), as a text - 1st paragraph from the case study (I can fix before the release if

[2018-04-23 21:32] AndrewYunisov commented on #28
Issue is closed, because we decided to introduce the new functionality which makes pages appear while clicking these links.

[2018-04-23 21:33] #28 closed

[2018-04-23 21:45] AndrewYunisov opened #46 "Getting started fix + event for Segment / GA"
Getting started can't be clicked on Mac Chrome - https://screencast.com/t/WAVDHebQR.
Please, when fixing also add the event on this button.

[2018-04-24 06:48] #31 closed

[2018-04-24 06:48] #36 closed

[2018-04-24 06:48] #32 closed

[2018-04-24 06:48] #29 closed

[2018-04-24 06:48] #35 closed

[2018-04-24 06:48] #33 closed

[2018-04-24 07:31] #41 closed

[2018-04-24 20:28] AndrewYunisov commented on #45
Please, also include the customer quote before the text (not done in the design, late fix from e@).
Should be:
“We are a fast growing business, so we need a platform that would not only
allow us to expand, but also keep up with the ever growing needs and demands
of our sales strategies. Virto Commerce definitely ticks those boxes
being easily scalable and extremely flexible. By switching to this s

[2018-04-25 19:53] Woland2k opened #47 "Lesson 2 images"
Why does thumbnail blade has a "New price list" header?

https://github.com/VirtoCommerce/vc-content/raw/lesson2/pages/assets/images/docs/add-thumbnail-settings.png

[2018-04-26 07:09] MalikJuly commented on #47
It was bug on platform, I fixed it. The image is obsolete, I will update today, thank you.

[2018-04-26 07:12] #47 closed

[2018-04-30 17:49] eMazeika opened #48 "correct picture in "Blades and navigation""
I expect to see 3 blades image for "3 blades: parent and a child blade having another child."
Now something ancient is displayed:

![image](https://user-images.githubusercontent.com/5801549/39441599-7853b738-4c7c-11e8-8c17-eb5fa66ec331.png)

[2018-05-04 11:09] AndrewYunisov opened #49 "Text fixes for / and /b2b-ecommerce-platform (expert quotes section)"
For main page:
1) "A Highly Advanced Cloud Ecommerce Platform For Serious Business" -> "A Highly Advanced Enterprise Microsoft E-commerce Platform For Serious Business"
2) "A Highly Advanced Cloud Ecommerce Platform For Serious Business" -> "The best enterprise e-commerce platform based on Microsoft - these guys knows what they do!"
For B2B page:
1) "A Highly Advanced Cloud Ecommerce Platform For

[2018-05-04 11:22] AndrewYunisov opened #50 "Pull changes"
https://github.com/VirtoCommerce/vc-content/commit/e01504e9f5ed816e67884c74768538a3427d664b
https://github.com/VirtoCommerce/vc-content/commit/522a1d8b77927c26a0a72d89a05fe2e2dff7d3c8
https://github.com/VirtoCommerce/vc-content/commit/7aa25bd47c1e82f25f14fdbdd8ed31ffa7172492
https://github.com/VirtoCommerce/vc-content/commit/491cd42df37a862ccdcacbec7f82f4442dd78534

[2018-05-08 09:02] AndrewYunisov commented on #50
Коллеги, я прошу выкатить - нам надо как-то отслеживать реакцию Google более-менее оперативно.

[2018-05-08 09:04] AndrewYunisov opened #51 "404 errors increase"
Google Webmaster Tools has shown an increase in 404 errors. Please, look at the attached list and fix the errors.

[virtocommerce-com_20180508T090347Z_CrawlErrors.csv.zip](https://github.com/VirtoCommerce/vc-content/files/1983139/virtocommerce-com_20180508T090347Z_CrawlErrors.csv.zip)

Either fix the broken URL, or redirect to main.

[2018-05-08 11:57] AndrewYunisov opened #52 "Maps not working"
https://virtocommerce.com/about-us
Карты поехали

[2018-05-10 07:26] #38 closed

[2018-05-18 09:18] n2pro commented on #49
Index page
![image](https://user-images.githubusercontent.com/13115017/40226841-1e4e7b14-5a8d-11e8-90a1-9daa628516d0.png)
B2B page
![image](https://user-images.githubusercontent.com/13115017/40226863-2f524652-5a8d-11e8-96de-51282ab8ff11.png)

[2018-05-18 10:09] n2pro commented on #52
@AndrewYunisov I need a key!
To get it, go to [step 3](https://developers.google.com/maps/documentation/javascript/adding-a-google-map).

[2018-05-18 10:16] AndrewYunisov commented on #52
This should be done by the account owner.
@Woland2k , please do it from your account.

[2018-05-18 10:30] n2pro commented on #46
I use browserstack service, getting started working on Mac Chrome. You can see it [here](http://recordit.co/anSbuS5frv).
This message just says that the player is not installed.

[2018-05-18 11:57] #46 closed

[2018-05-18 14:57] n2pro commented on #45
@AndrewYunisov  What should happen when you click "download case study"?

[2018-05-18 15:07] AndrewYunisov commented on #45
Well, if he has filled the form - he needs to go to the PDF file.

[2018-05-18 15:10] n2pro commented on #45
@AndrewYunisov what do we do with the data?

[2018-05-18 15:11] AndrewYunisov commented on #45
We will put it into AUtopilot, I will do it later.

[2018-05-21 03:26] asvishnyakov opened #53 "demo.virtocommerce.com should support sending notification"
Otherwise I can't see in action this and related features: for example, I can't register using invite.

[2018-05-21 13:44] n2pro commented on #45
Added pages for case study, [this](https://vc-public-qc.azurewebsites.net/case-studies/proffsmagasinet) and for other pages.
![screenshot_7](https://user-images.githubusercontent.com/13115017/40310661-cf6fb480-5d0d-11e8-9037-b2d5cad42e0d.png)

[2018-05-21 14:20] n2pro commented on #19
The second lesson can be seen on [qc](https://vc-public-qc.azurewebsites.net/docs/lessons/lesson2).

[2018-05-21 19:43] AndrewYunisov commented on #45
1) Отступ от картинки надо увеличить - https://screencast.com/t/rSr1WCrlxcw
2) Вторая кавычка в цитате отсутствует.
3) Давайте назовем кнопку Download Full Case Study.

[2018-05-22 07:13] n2pro commented on #45
Fixed
![image](https://user-images.githubusercontent.com/13115017/40347393-6a0cc216-5da0-11e8-9345-5a663829f3a3.png)

[2018-05-22 08:11] AndrewYunisov commented on #45
PROFFMAGASINET -> PROFF**S**MAGASINET
I will ask Evgeny to approve and then will follow up to release.

[2018-05-22 08:13] AndrewYunisov commented on #50
@n2pro, выкатывать будем или уже выкатили?

[2018-05-22 08:20] n2pro commented on #45
Fixed, after approve we can update.

[2018-05-24 11:51] AndrewYunisov opened #54 "Form fixes for GDPR"
In all website forms before the main button we should have the text:
By clicking «{button name}» I agree to the Virto Commerce [Terms](https://virtocommerce.com/terms) and [Privacy](https://virtocommerce.com/privacy).
Just like here - https://www.baculasystems.com/download-kickstart-standalone-trial-version.

[2018-05-24 11:52] AndrewYunisov commented on #54
This is a critical task from Eugeny Grigul.

[2018-05-24 13:47] n2pro commented on #54
Added to all forms. Can be seen on [qc.](https://vc-public-qc.azurewebsites.net/contact-us).
After approving all changes that are on QC, we can update the main site.

[2018-05-24 15:18] AndrewYunisov commented on #54
Approved.

[2018-05-24 15:36] AndrewYunisov commented on #54
21 is not mine, 45 is still not approved. Everything else is good to go.

[2018-05-24 15:40] n2pro commented on #54
Ok, awaiting approval #45 and update the main site.

[2018-05-24 15:52] n2pro commented on #54
Yes, I'll do it tomorrow.
It is necessary that the tasks do not hang in the air.

[2018-05-25 06:36] AndrewYunisov commented on #45
![shutterstock_512482957](https://user-images.githubusercontent.com/27814609/40529648-8c7319b2-5ffe-11e8-9527-221773034381.jpg)
![shutterstock_546307054](https://user-images.githubusercontent.com/27814609/40529649-8ca0cfce-5ffe-11e8-8ec8-3e085196ebe2.jpg)
Let's try to create 2 pages with different background, we need to try.
Please do.

[2018-05-25 11:01] n2pro opened #55 "Update main site"
@AndrewYunisov @OlegoO  I updated https://staging.virtocommerce.com/, need an upgrade approval.
List of changes:
- [x] #49
- [x] #50
- [x] #54

[2018-05-25 13:27] n2pro commented on #55
Updated!

[2018-05-25 16:36] #55 closed

[2018-05-28 07:59] #50 closed

[2018-05-28 07:59] #49 closed

[2018-05-28 07:59] #54 closed

[2018-05-29 13:26] OlegoO opened #56 "As a content manager, I want to edit cms page in own repository"
As a content manager, I want to create, edit cms page
GIVEN https://github.com/VirtoCommerce/vc-content-pages repository
WHEN I edit page in the MASTER branch
AND I commit update
THEN the vc-content-pagesshould be updated page on production environment (PROD and STAGE slots)
Acceptance criteria:
MASTER is default branch

As a content manager, I want to receive email notification when new contents

[2018-05-31 07:30] OlegoO commented on #52
@dimitri-ak Could you create key?

[2018-05-31 09:19] n2pro commented on #45
Different backgrounds for pages:
https://vc-public-qc.azurewebsites.net/case-studies/proffsmagasinet
https://vc-public-qc.azurewebsites.net/case-studies/proffsmagasinet1
https://vc-public-qc.azurewebsites.net/case-studies/proffsmagasinet2

[2018-05-31 09:36] n2pro commented on #45
The image will always be cropped, you provided images in 4:3 format, for this effect it is preferable to use 16:9.
The height of the block is 340 pixels, depending on the width - it is scaled.

[2018-05-31 12:47] #19 closed

[2018-06-01 07:15] n2pro commented on #48
![image](https://user-images.githubusercontent.com/13115017/40826866-435a7594-657c-11e8-9b12-4771c59bb960.png)

[2018-06-01 10:56] n2pro commented on #52
![image](https://user-images.githubusercontent.com/13115017/40837554-1d048fbe-659b-11e8-843a-de2e6924ea76.png)

[2018-06-01 12:04] AndrewYunisov commented on #52
We need to release this ASAP. Looks OK to me.

[2018-06-01 12:27] n2pro commented on #51
I fixed most of the links, I need to keep track of errors using пoogle цebmaster tools and azure application inside.

[2018-06-02 07:01] AndrewYunisov commented on #51
Sending the latest lists with errors, please mark what was fixed.

[Архив.zip](https://github.com/VirtoCommerce/vc-content/files/2064761/default.zip)

[2018-06-04 07:10] #48 closed

[2018-06-04 07:10] #52 closed

[2018-06-04 07:44] n2pro commented on #51
[Here ](https://github.com/VirtoCommerce/vc-content/blob/deploy/IISUrlRewrite.xml#L182)are all the redirects.
We also look forward to updating the platform for fixing bugs in / blog.
I would like to see the  count 404 for a particular url, since 404 is a normal response to an unknown request.

[2018-06-05 18:12] AndrewYunisov opened #57 "GDPR fixes #2"
1. Cookies consent on website. Such text should appear on the website "We use cookies to provide best web experience for our users. By continuing to browse this site, you agree to this use. Read more from our Privacy Policy". Last one is a link to the page https://virtocommerce.com/privacy.
I hope you saw many examples of such popups. I would suggest something like this - https://s3.envato.com/fil

[2018-06-06 11:07] n2pro commented on #57
Will be done after updating storefront-core to core 2.1

[2018-06-06 13:27] AndrewYunisov commented on #57
@n2pro , @OlegoO - this is a very urgent fix as we're running out of the european law.
You decide, but if we get fines they will be huge.

[2018-06-07 07:14] AndrewYunisov commented on #57
Privacy policy attached.
[Virto Commerce Privacy Policy_20180606_v5_RJ_final.docx](https://github.com/VirtoCommerce/vc-content/files/2079301/Virto.Commerce.Privacy.Policy_20180606_v5_RJ_final.docx)

[2018-06-07 10:39] n2pro commented on #57
Added cookies informer, you can see [this](https://vc-public-qc.azurewebsites.net/).
![image](https://user-images.githubusercontent.com/13115017/41094773-bbfb9eec-6a4f-11e8-9d18-a7fcfbd81c83.png)

[2018-06-07 10:57] AndrewYunisov commented on #57
Good. Please , update the policy and release to the website. The other task #2 is also needed.

[2018-06-07 10:58] n2pro commented on #57
I understand it is necessary to update the policy from the document?

[2018-06-07 11:13] n2pro commented on #57
![image](https://user-images.githubusercontent.com/13115017/41096318-8adb992a-6a54-11e8-83be-214dbdd35d03.png)

[2018-06-07 11:38] AndrewYunisov commented on #57
https://virtocommerce.com/account/invite
THis form also should contain
By clicking «Sign In» I agree to the Virto Commerce Terms and Privacy.

[2018-06-07 11:39] #51 closed

[2018-06-07 13:44] n2pro commented on #57
Updated [privacy page](https://vc-public-qc.azurewebsites.net/)

[2018-06-07 14:04] AndrewYunisov commented on #57
Good to go.

[2018-06-07 14:31] n2pro commented on #57
Done

[2018-06-13 07:20] #57 closed

[2018-06-14 12:57] AndrewYunisov commented on #45
Evgeny and I decided to stay with the initial version with website screenshot. We need to fix the mobile page also:
![microsoftteams-image](https://user-images.githubusercontent.com/27814609/41413393-3d4e1892-6fe3-11e8-8350-a99c402f102a.png)
Then we can create the other pages by analogue (I can fix the content if needed) and proceed to release.
Please, go on.

[2018-06-18 09:50] n2pro commented on #45
@AndrewYunisov  Can you see all the [other pages](https://vc-public-qc.azurewebsites.net/case-studies) and write comments except for mobile view?

[2018-06-18 22:27] AndrewYunisov commented on #45
@n2pro , please:
1) https://vc-public-qc.azurewebsites.net/case-studies/belysningsdesign
Remove the 1st paragraph - https://screencast.com/t/vc2NO3Ddt
2) Finalize with mobile and we can go ahead.

[2018-06-19 09:27] AndrewYunisov opened #58 "GDPR #3"
Please, add the regular tick below the form at https://virtocommerce.com/jobs on all the apply forms. Forgot them.

[2018-06-19 10:44] n2pro commented on #45
Remarks corrected!

[2018-06-19 10:58] n2pro commented on #58
Fixed
![image](https://user-images.githubusercontent.com/13115017/41593478-7d0f4484-73c0-11e8-9fbb-82b060d215ef.png)

[2018-06-19 11:27] AndrewYunisov commented on #45
Can you, please add GA event to Download button on all pages?
ga('send', 'event', 'Download', 'CaseStudy', '{case_name}');
case_name should be changed to the name of case page.

[2018-06-19 11:29] AndrewYunisov commented on #45
Then we can release.

[2018-06-19 11:30] AndrewYunisov commented on #58
Please, release ASAP.

[2018-06-19 11:58] n2pro commented on #45
where can I see an example on our website?

[2018-06-19 12:00] AndrewYunisov commented on #45
I think we added the events to banners in glossary pages with you.

[2018-06-19 12:36] Woland2k commented on #45
We should use segment events instead of adding GA. That way we can tie those to users in CRM.

[2018-06-19 13:10] n2pro commented on #45
Added GA event for the case study, ready for release!

[2018-06-19 13:12] AndrewYunisov commented on #45
Pls, release. I will work on Segment event later on in another task.

[2018-06-20 09:13] #58 closed

[2018-06-20 10:28] AndrewYunisov commented on #45
What email are these forms sending to?

[2018-06-20 12:34] n2pro commented on #45
Form data is not sent anywhere.
**n2pro:** @AndrewYunisov What should happen when you click "download case study"?
**AndrewYunisovWell**:  if he has filled the form - he needs to go to the PDF file.
**n2pro:** @AndrewYunisov what do we do with the data?
**AndrewYunisovWell**: We will put it into AUtopilot, I will do it later.

[2018-06-20 16:30] AndrewYunisov commented on #45
Yes, I am putting it into Autopilot already. However, we might need email notifications as we're still defining how to deal with these guys. So, please:
1. Send email notification to sales@virtocommerce.com
2. Send the data into FreshSales
3. Add GDPR ticks to these pages

[2018-06-20 17:15] Woland2k commented on #45
You don't send data directly to freshsales, it goes to segment first.

[2018-06-21 07:40] n2pro commented on #45
@AndrewYunisov

[2018-06-21 11:48] AndrewYunisov commented on #45
@n2pro , please pass the changes on qc to production.

[2018-06-21 13:47] n2pro commented on #45
![image](https://user-images.githubusercontent.com/13115017/41723055-69886de0-756a-11e8-96fc-53ad3d137093.png)

[2018-06-21 13:51] AndrewYunisov commented on #45
Release

[2018-06-21 13:55] n2pro commented on #45
Done

[2018-06-21 14:09] #45 closed

[2018-07-23 10:56] AndrewYunisov opened #60 "Enterprise eCommerce page fixes"
https://virtocommerce.com/download-enterprise-whitepaper
1. URL should be https://virtocommerce.com/enterprise-ecommerce-whitepaper
Old URL should redirect to the new one with 301.
2. H1 should be "Enterprise Ecommerce Whitepaper"
3. This should be H2 - https://screencast.com/t/dZOfqNPr2r9N
4. CLOUD ECOMMERCE PLATFORM BUILT USING CUTTING-EDGE WEB TECHNOLOGIES -> ENTERPRISE ECOMMERCE PLATFORM BUILT

[2018-07-30 10:58] Tilesto commented on #60
@AndrewYunisov, fixed on [staging.virtocommerce.com](https://staging.virtocommerce.com).

[2018-07-30 17:46] AndrewYunisov commented on #60
@Tilesto ,
8) The current title is <title>Virto commerce - Enterprise e-commerce platform by Virto Commerce</title>. Need to fix.
Other than that - ready for merging.

[2018-08-04 15:57] Woland2k opened #64 "Fix spelling of analytics"
from the client:
I tried to find a more discrete way of providing this information, but only this platform and sales were available on a quick look.

You have a missed spelling here:
https://virtocommerce.com/our-offers/cloud-ecommerce-platform
under the block - "GOOGLE ANALITICS ENHANCED"
via HTML it is under <div class="integration-t">

It should be analytics, not analytics.

I just wanted to ma

[2018-08-07 16:25] virtogarren opened #65 "Segment Integration to Fresh Sales not working"
Previously, we had an integration to FreshSales from Segment.

This integration is not working anymore and needs to be fixed.

[2018-08-07 16:35] virtogarren opened #66 "Update Customers Page"
Please update the customer page to include only the logos attached to this ticket

![image9](https://user-images.githubusercontent.com/31021659/43789596-62bd0e32-9a3e-11e8-8556-6d95bc7545ce.png)
![image10](https://user-images.githubusercontent.com/31021659/43789597-62cb6946-9a3e-11e8-8146-4292fa7fa81a.png)
![image11](https://user-images.githubusercontent.com/31021659/43789598-62da0cda-9a3e-11e8-8f

[2018-08-07 17:59] Woland2k commented on #65
This was the fix: https://github.com/VirtoCommerce/vc-content/commit/ca8ad66c27ca9493ff62b18f0dc718b793657e2e, please make sure it is working next time (it can't really be tested on staging site since forms are not submitted on staging due to autopilot, only in production)

[2018-08-07 18:06] n2pro commented on #65
@Woland2k we can not use the global form interceptor, because it violates the functionality for other forms, as well as logging in, inviting

[2018-08-07 18:07] Woland2k commented on #65
@n2pro We need to log all activities, including logging in.

[2018-08-07 18:14] Woland2k opened #67 "Community sign out doesn't work"
When going to this page: https://virtocommerce.com/vc-community even when anonymous, you are always sign in and clicking sign out doesn't have any affect.

![image](https://user-images.githubusercontent.com/1566470/43794418-048074d6-9a33-11e8-96a8-7e2e61cf7ff5.png)

[2018-08-07 18:30] Woland2k commented on #65
@tatarincev I can publish them, but I'm not sure how it affect login screen (login doesn't seem to work at all now, check https://github.com/VirtoCommerce/vc-content/issues/67)

[2018-08-07 19:04] tatarincev commented on #65
Sure it won't be work, because you've handled submits for all forms, I think that if you continue the event propagation instead of swallow it will fix the problem. Does anybody have any idea why this integration stopped working?

[2018-08-07 20:02] AndrewYunisov commented on #66
Team: @OlegoO, @n2pro , @Tilesto - please update https://virtocommerce.com/customers.
@virtogarren , should we also update the main page logos? I would do it if we have the approval.

[2018-08-07 20:53] Woland2k commented on #65
@tatarincev login/logout doesn't work without any changes done, i haven't changed anything

[2018-08-07 21:19] virtogarren commented on #66
Hey @AndrewYunisov, yes I agree we should update the main page logos.

Please use:
Country Malt Group
Heineken
Bosch
Vivint.SmartHome
Rainbow Sandals

[2018-08-08 10:08] tatarincev commented on #67
This игп occurs because all users in the storefront are registered in terms of the ASP.NET authentication system, and this Auth policy will return always true. So I'm going to fix this policy, will check another user flag in order to determine if the user is registered or not

[2018-08-08 12:29] tatarincev commented on #66
@AndrewYunisov Could you approve these changes on the staging?

[2018-08-08 13:26] Woland2k commented on #67
@tatarincev  can we get this fixed as soon as possible since currently there is no login or registration required to get to a demo

[2018-08-08 15:26] tatarincev commented on #67
@Woland2k @AndrewYunisov Done, please check

[2018-08-08 15:29] tatarincev commented on #65
Done, @Woland2k @AndrewYunisov  please check

[2018-08-08 22:13] #67 closed

[2018-08-08 22:17] Woland2k opened #68 "Name is incorrectly consists of both first and last when signed in through GitHub"
![image](https://user-images.githubusercontent.com/1566470/43867420-07e34f04-9b1e-11e8-928b-ffb4bd54055a.png)

As a solution, just leave one name field instead of first and last names.

[2018-08-08 22:25] Woland2k opened #69 "Make menu tablet friendly"
Currrently extra sub menu only opens when mouse is hovering over the menu:

![image](https://user-images.githubusercontent.com/1566470/43867730-46421194-9b1f-11e8-9bf7-33ae745d175c.png)

However that doesn't work with a touch screen, as there is no way to hover the cursor over. We should change behavior to open menu either when cursor is hovering or when i click the menu (don't go to the page).

[2018-08-09 06:50] AndrewYunisov commented on #66
@tatarincev , I see no changes on https://staging.virtocommerce.com/customers. Where should I go?

[2018-08-09 07:25] tatarincev commented on #66
@AndrewYunisov  It is already on production :) Just need to update staging then.

[2018-08-09 13:40] n2pro commented on #68
@Woland2k  We can not do this because the git profile does not have a clear separation of the name and surname, and in order to initially create a user, we need to specify name from git profile. Therefore, we take for the value of the name in the git profile
In the future, the user can edit himself in this section
![screenshot_21](https://user-images.githubusercontent.com/13115017/43902476-7ab792f

[2018-08-09 16:15] asvishnyakov commented on #68
@Woland2k It's bad practice to have First/Last name separated, if project is international. For example, Icelandic usually have only first name and patronym. Indonesian may have first and last name, first name & patronym, single-word name or even, only first name with multiple words.  In China first name is family name, while last name is personal name. And more. So the best solution is to have si

[2018-08-09 19:12] Woland2k commented on #68
@asvishnyakov that's why in the ticket I specified "As a solution, just leave one name field instead of first and last names."

[2018-08-09 20:17] asvishnyakov commented on #68
@Woland2k Ahah, sorry, just seemed it as part of garbage in footer. Banner blindness :)

[2018-08-10 00:33] Woland2k commented on #65
looks like it is working

[2018-08-10 00:33] #65 closed

[2018-08-10 06:02] tatarincev commented on #68
@Tilesto I think we can leave only one input field `Name` then and bind it to the `user.fullName`.

[2018-08-10 06:03] #60 closed

[2018-08-10 14:03] #64 closed

[2018-08-28 15:58] virtogarren opened #72 "Redesign "List-of-Partners" Page"
As part of our new initiative to build up our partner program, I would like a redesign of our partner's list page (/partners/list-of-partners).

The goal is to help users sort/filter our partners by region, expertise, and industry.

https://www.kentico.com/partners/solution-partners <- I want the page's layout/UX to be exactly like this, but with our branding.

[2018-08-28 16:01] virtogarren commented on #72
As part of our new initiative to build up our partner program,  I would like a redesign of our partner's list page (/partners/list-of-partners).

The goal is to help users sort/filter our partners by region, expertise, and industry.

https://www.kentico.com/partners/solution-partners  <-  I want the page's layout/UX to be exactly like this, but with our branding.

[2018-08-29 10:00] AndrewYunisov commented on #72
@virtogarren and @egrigul, I will take care of this.

[2018-09-03 18:16] AndrewYunisov commented on #72
![img_20180903_162027_497](https://user-images.githubusercontent.com/27814609/44998449-7bc5ae80-afbe-11e8-930e-ece2de6a013d.jpg)
@virtogarren, we need to define what we do with some content items that were taken from Kentico.

[2018-09-04 18:03] virtogarren commented on #72
@AndrewYunisov  here is some of my thoughts, @egrigul  or @Woland2k  you have any thoughts?
![untitled-1](https://user-images.githubusercontent.com/31021659/45048964-3b604200-b04b-11e8-82cc-d25d7f122906.png)

[2018-09-05 19:44] virtogarren commented on #72
Here are some more requested changes.  After this, we're ready to go to HTML.

Here is the link to the partner badge designs in the OneDrive Marketing folder: "VirtoWay\VirtoCommerce - Documents\Marketing\Assets\partnerBadges.ai"

![partnergrid](https://user-images.githubusercontent.com/31021659/45116975-5782e280-b122-11e8-9e8e-63e25a055907.png)

[2018-09-06 14:06] AndrewYunisov commented on #72
![partners](https://user-images.githubusercontent.com/27814609/45162641-19a3be00-b1f7-11e8-89c5-2b216bf0abfc.jpg)

[2018-09-06 14:08] AndrewYunisov commented on #72
@virtogarren , let me know of this works and I'll upload source files.

[2018-09-06 14:10] virtogarren commented on #72
Unless @Woland2k  or @egrigul  have comments, I'm happy with the result.

[2018-09-06 14:19] virtogarren commented on #72
@AndrewYunisov , For the final production version, here is the proper level for each partner's badge.

- Niteco - Silver
- Wipcore - Silver
- Making Waves - Bronze
- Delaware - Silver
- JBS - Gold
- Bambit - Bronze

[2018-09-06 17:14] AndrewYunisov commented on #72
[virto_partners.zip](https://github.com/VirtoCommerce/vc-content/files/2358032/virto_partners.zip)
@virtogarren , here is the final version with PSD and the fixes in badges.

[2018-09-06 17:36] virtogarren commented on #72
@AndrewYunisov  looks great, my only concern is, are you planning on adding filters at the top for customers to use with the tags?  On the design we have tags, but really no way for the user to interact with those, is that something the devs will add?

[2018-09-06 17:46] AndrewYunisov commented on #72
Should be done by them, yep. We'll fix that if they won't get it from the start ;)

[2018-09-10 19:10] virtogarren commented on #66
@AndrewYunisov we need to remove rainbow and Heineken from our client list for now.  We added them prematurely.  Please instead use Trendmark and Volvo for the homepage and just remove rainbow and Heineken from the clients' page, please.

[2018-09-11 08:46] AndrewYunisov commented on #66
@OlegoO , please advice who is the right person to assign this.

[2018-09-11 10:39] tatarincev commented on #66
@Tilesto, could you take a look at this issue?

[2018-09-11 11:26] Tilesto commented on #66
@tatarincev ok, np)

[2018-09-11 15:17] tatarincev commented on #66
Done

[2018-09-11 15:18] #66 closed

[2018-09-11 15:18] virtogarren commented on #66
@AndrewYunisov @tatarincev @Tilesto thank you

[2018-09-25 18:01] AndrewYunisov opened #75 "Content fix"
Requested by Sergey Sinyugin.
https://virtocommerce.com/about-us
Change "multi national" -> "multi-national".

[2018-09-27 16:35] mpennie opened #77 "Create Landing Page for B2B Online event"
Hello Oleg,
I am Megan Pennie in Los Angeles -- a new director of marketing. I understand you can help build webpages for us.
Would you please create a new webpage as a "landing page" as demonstrated in the attached design? Please include a form with field for contact collection to feed into AutoPilot in the form of a List for "Event: B2B Online Europe 2018." The photo is of Amsterdam, and it is a

[2018-09-27 21:05] #77 closed

[2018-09-27 21:05] mpennie commented on #77
Oleg - I will email you directly.

[2018-10-03 15:58] IgorisB opened #78 "Landing page for B2B Online Europe event"
It needs to build a landing page and contact form to help us promote the Virto Commerce participation in the B2B Online conference. It will be live from today/as soon as possible to December 1st.

Please include a form with field for contact collection to feed into AutoPilot in the form of a List for "Event: B2B Online Europe 2018." The photo is of Amsterdam, and it is a free stock photo.
I can se

[2018-10-12 22:00] Woland2k opened #81 "Documentation site javascript error"
When opening documentation site javascript error is generated which prevents the page from loading completely.

![image](https://user-images.githubusercontent.com/1566470/46895944-7fefb200-ce2f-11e8-868f-b1afb6760b9c.png)

[2018-10-12 22:23] Woland2k commented on #81
Fixed the immediate issue, however it displays empty user now. Need a more permanent fix.

[2018-10-12 23:07] Woland2k opened #82 "Documentation: contributors are not correctly displayed"
Currently contributors from the first visited page are shown, not current page contributors. The data doesn't seem to update on page change.

[2018-10-16 08:08] IgorisB commented on #78
@tatarincev. Please help @Mike-Chirsky with committing the pages and deploying to stage environment. I would like to get deployed url so marketing could see and approve the page.
Assign to (@Tilesto ?) task "contact collection to feed into AutoPilot in the form of a List for "Event: B2B Online Europe 2018."

[2018-10-16 10:56] tatarincev commented on #78
@Tilesto There is the ready makeup for this design.
[amster-landing.zip](https://github.com/VirtoCommerce/vc-content/files/2482660/amster-landing.zip)

[2018-10-17 08:02] Tilesto commented on #78
@tatarincev  ok. I'll do it

[2018-10-17 12:53] Tilesto commented on #78
@IgorisB where should i place a link to this page?

[2018-10-17 14:09] IgorisB commented on #78
@Tilesto put it here, thanks

[2018-10-17 14:46] tatarincev commented on #78
@IgorisB Tigran asked about the specific place on the our site where link to this page should be inserted.

[2018-10-17 14:51] IgorisB commented on #78
as far as I know it will be not accessed from site menu. This page link will be used for mailing. Anyway, it will be decided later. Just place it anywhere so we could validate the page.

[2018-10-18 07:50] tatarincev commented on #78
Done on the staging
https://staging.virtocommerce.com/amster

[2018-10-18 19:46] Woland2k commented on #78
@tatarincev logos are formatted incorrectly at the bottom, they should be on the same line and be of similar size. Also the url should be /events/b2b-online-europe-2018, not "amster"

[2018-10-19 08:18] IgorisB commented on #78
Megan request:
* here is the logo for Bosch that has a transparent background, I believe – which is better that the one you have in white background. (see below)
* Can your developer reduce the size of the logos by 75%? Also please change the Volvo logo -- use the logo from the homepage for Volvo – not the one you have currently on the landing page.

![bosch_logo](https://user-images.githubusercon

[2018-10-19 08:41] Tilesto commented on #78
Ok. But... Could i receive VolvoCarsLogo with transparent background?
![Uploading volvocars-logo.jpg…]()

[2018-10-22 18:28] IgorisB commented on #78
@Tilesto please take volvo logo from https://virtocommerce.com

[2018-10-22 19:46] Tilesto commented on #78
@IgorisB logo from https://virtocommerce.com has white background but not transparent (i attach screenshot with this logo in previous comment)

[2018-10-22 20:05] IgorisB commented on #78
![volvo-logo-1024x171](https://user-images.githubusercontent.com/5917756/47316077-ec985700-d64e-11e8-94bc-0b7322952277.png)

[2018-10-22 21:14] mpennie opened #85 "Add to VirtoCommerce.com Partner page content"
Hello: Would you please add this new content for the Partners page:  https://virtocommerce.com/partners/list-of-partners
---
NTARA LOGO
United States
Founded in 1999, Ntara is a full-service digital agency specializing in commerce solutions within three verticals: branded manufacturing & distribution, healthcare & institutions, and high technology.
Contact: connect@ntara.com

---

FORTE DIGITAL (l

[2018-10-23 13:29] Tilesto commented on #78
Done. Added page for this event

[2018-10-25 11:52] tatarincev commented on #85
@Tilesto  could you take it?

[2018-10-25 14:38] Tilesto commented on #85
@tatarincev I didn't even have time to answer xDD Ok, np)

[2018-10-25 16:58] mpennie commented on #85
Hello! Would you let me know when you can do this? The partner company is pushing us for a date. Thank you.

[2018-10-25 22:30] Woland2k commented on #78
Whoever created the form did it incorrectly. There are many issues:

1. There is no FORM element for a form. How are we supposed to submit the form without that?
2. Fields should use the same names as other forms on the site, for instance first name should have a name "Contact[FirstName]". Look at contact us form: https://github.com/VirtoCommerce/vc-content/blob/deploy/pages/forms/contact-form.md.

[2018-10-26 08:20] Tilesto commented on #78
@Woland2k it's okay now?)
![image](https://user-images.githubusercontent.com/28765507/47554032-b84fbf80-d908-11e8-8afe-57a0813e9428.png)

[2018-10-26 11:53] Tilesto commented on #85
@mpennie done) Check it here, please)
https://virtocommerce.com/partners/list-of-partners

[2018-10-30 20:58] mpennie commented on #78
What is the status of this form? Is it fixed?

[2018-11-05 22:14] mpennie opened #92 "Add to Customer Case Study page"
### Bosch success story
Bosch Gains Customer Insights and Builds Customer Loyalty Through New eCommerce Solution

From pre-service consultation to technical team support, Virto Commerce was responsive and informative, and most importantly, able to provide valuable insight into our core needs.”
~ Cornelius Munz, BOSCH Digital

**CHALLENGE**
Bosch Thermotechnik traditionally did not sell to the end

[2018-11-06 13:21] mpennie commented on #92
Hello team: @tatarincev
Would you please 1) add the content for BOSCH that I added on the customer case study page (https://virtocommerce.com/case-studies) and have it click through to the below new page.
2) Add a New page for the Bosch case study with this content above, and the form that all the case study pages have to download the link. (I will connect the contact info to capture it in Autopil

[2018-11-06 19:45] mpennie commented on #92
@blazemachine Hi Segey - let me know if you have questions. Thanks, Megan

[2018-11-06 19:56] tatarincev commented on #92
We will start work on this task tomorrow 07.11.2018. All seems clear and I guess we can delivery this case study on this week

[2018-11-08 09:49] tatarincev commented on #92
Done please check https://virtocommerce.com/case-studies/bosch

[2018-11-08 09:54] #75 closed

[2018-11-08 16:43] #92 closed

[2018-11-09 19:24] mpennie opened #94 "Add new blog post to NEWS category to virtocommerce.com/blog"
Hello: Please add a new page to https://virtocommerce.com/blog/ for a new blog post in the NEWS category.

Title: Virto Commerce to Showcase Manufacturing & Distributor Customer Successes at B2B Online Conference in Amsterdam
Subtitle: Leading Beverage Distributor and Major Tools Manufacturer among top Virto Commerce B2B solutions to be showcased

PRESS RELEASE  NOV 8, 2018 10:00 PST
Virto Commerc

[2018-11-12 11:22] AndrewYunisov opened #95 "Case study pages not working correctly"
https://virtocommerce.com/case-studies/bosch
Something is not working (main pic not added).
https://screencast.com/t/uBkuktwQ4Y3

[2018-11-12 15:55] AndrewYunisov commented on #95
I looked all the other pages and discovered that they all lost the main picture that was at the top of the page. For some reason it's deleted and the whole section looks bizarre. Please, look at the previous version and restore it.

[2018-11-13 08:34] #85 closed

[2018-11-20 14:29] blazemachine opened #98 "BUG: Indent between site header and content"
The indent had appeared after some changes. The problem can be seen in the screenshots. Need to fix.
![site_about_us](https://user-images.githubusercontent.com/43133766/48779885-6a0cc100-ecfa-11e8-8dfc-73306ae1911e.png)
![site_title](https://user-images.githubusercontent.com/43133766/48779886-6a0cc100-ecfa-11e8-8f34-8300f94c6d70.png)

[2018-11-20 14:29] blazemachine commented on #98
The error is related to the cookie bar.

[2018-11-20 17:01] AndrewYunisov opened #99 "New glossary page for conversational commerce"
Here is the example glossary page - https://virtocommerce.com/glossary/b2b-ecommerce-companies-websites.
[A Simple Look at the Key Components of Conversational Commerce.docx](https://github.com/VirtoCommerce/vc-content/files/2600759/A.Simple.Look.at.the.Key.Components.of.Conversational.Commerce.docx)
Attached is the text for a new page with title "Conversational Commerce Definition and Meaning".
H

[2018-11-22 16:23] mpennie commented on #94
@IgorisB @tatarincev Hello - just checking in on this. Thanks, Megan

[2018-11-22 16:31] mpennie opened #101 "Add new blog post to virtocommerce.com/blog"
### 5 Benefits of B2B Ecommerce Business Strategy

![image](https://user-images.githubusercontent.com/43222967/48914660-ffaa6c80-ee30-11e8-81fe-7185001af004.png)

[2018-11-23 07:48] AndrewYunisov commented on #99
Please, also insert this picture - https://virto365.sharepoint.com/sites/VirtoCommerce/Shared%20Documents/Marketing/Demo/Bot/orderwise-flow2.gif
The text at the right from it should state:
"Chat with your customers using automated bot.
Deliver the products instantly with personal, detailed messages about order options."
Button should be "Trial&Demo" like on our main page.
Example - https://screenc

[2018-11-26 12:19] tatarincev commented on #94
Done.
https://virtocommerce.com/blog
https://virtocommerce.com/blog/to-showcase-manufacturing-and-distributor-customer-successes-at-b2b-online-conference-in-amsterdam

[2018-11-26 12:20] #94 closed

[2018-11-26 14:15] mpennie opened #103 "Add a New Blog Post on Virto Commerce News: Ntara Press Release: www.virtocommerce.com/blog"
**Ntara Selects Virto Commerce Platform with Strategic Partnership Announcement**
Specializing in scalable ecommerce software solutions for manufacturers and distributors

Los Angeles, CA, November 15, 2018 (Newswire) - Ntara, an enterprise digital services agency, and Virto Commerce, a leading provider of B2B e-commerce software, today announced a strategic partnership to better serve manufacture

[2018-11-30 14:07] blazemachine commented on #101
Good day, Megan.
I need to know what do you expect to see after click on ref (in first chapter).
May you give me url for this? Also, I need a publish date for this news. And I need a main picture.
Thanks.

[2018-12-03 12:22] tatarincev commented on #99
Done https://virtocommerce.com/glossary/conversational-commerce

[2018-12-03 12:23] tatarincev commented on #101
Done https://virtocommerce.com/blog/5-benefits-of-b2b-ecommerce-business-strategy

[2018-12-03 12:23] #101 closed

[2018-12-03 12:24] tatarincev commented on #103
Done https://virtocommerce.com/blog/ntara-selects-virto-commerce-platform-with-strategic-partnership-announcement

[2018-12-03 12:24] #103 closed

[2018-12-03 21:13] AndrewYunisov commented on #99
1. Some of the titles are done wrong. The bullets for Advanced Notifications Through Conversational Commerce, Bots Interfaces for Conversational Commerce and Chats in Apps
should not exist. Should be the same font as conclusion.
2.  Introduction -> Introduction into conversational commerce (should be H2, H2 should be met only once on the page, conclusion can be done just bold)
3. Case study block

[2018-12-04 11:07] blazemachine commented on #99
Now it will be looking like that:
![vccom-glossary-conversational-commerce](https://user-images.githubusercontent.com/43133766/49437952-b669fd80-f7de-11e8-9af0-c4be8e71e1e0.png)

[2018-12-04 12:16] AndrewYunisov commented on #99
Ideal. Please, release it.

[2018-12-04 15:34] AndrewYunisov commented on #99
I am foolish, forgot to say what should be when the button "Trial & Demo" is clicked. Please, do the same what happens with our top right button.

[2018-12-04 19:44] Woland2k opened #108 "All case study pages render title incorrectly"
![image](https://user-images.githubusercontent.com/1566470/49468451-c6bbb180-f7b9-11e8-8acd-82d873455da2.png)

[2018-12-04 21:00] mpennie commented on #108
Thank you for fixing it -- Also, the submit box formatting is crowded with too much text.

[2018-12-05 14:55] tatarincev commented on #108
![image](https://user-images.githubusercontent.com/7566324/49521619-8853ee80-f8ae-11e8-9597-3db922a10ced.png)
Done

[2018-12-05 14:56] tatarincev commented on #99
Done  https://virtocommerce.com/glossary/conversational-commerce

[2018-12-05 14:56] #99 closed

[2018-12-05 17:03] AndrewYunisov opened #113 "Switch Magento glossary page layout to the new template"
This layout is old - https://virtocommerce.com/glossary/magento-alternatives.
This one is new - https://virtocommerce.com/glossary/best-ecommerce-platforms or https://virtocommerce.com/glossary/b2b-ecommerce-companies-websites.
Please, switch from the old to new layout without changing the content. Need to remove left menu, add case study block - https://screencast.com/t/Kut4TQn7, put video down a

[2018-12-05 17:05] AndrewYunisov opened #114 "Updates to some glossary pages content"
1. https://virtocommerce.com/glossary/shopify-alternatives - add case studies block
2. https://virtocommerce.com/glossary/best-ecommerce-platforms - the contenders block looks strange - https://screencast.com/t/8bT1ZrIpa, should be like [here](https://virtocommerce.com/glossary/shopify-alternatives)

[2018-12-05 17:17] Woland2k commented on #108
Bosch case study has proffs as a background:

![image](https://user-images.githubusercontent.com/1566470/49531157-866a3b00-f86e-11e8-90e2-f2a0cd3669d2.png)

[2018-12-05 20:22] AndrewYunisov opened #115 "New glossary page for Thing Commerce"
Like we have dome with https://virtocommerce.com/glossary/conversational-commerce. Same layout. Text below.
[How is ‘Thing Commerce’ Transforming The Way We Do Business.docx](https://github.com/VirtoCommerce/vc-content/files/2650461/How.is.Thing.Commerce.Transforming.The.Way.We.Do.Business.docx)

[2018-12-06 10:13] #95 closed

[2018-12-06 15:24] blazemachine commented on #114
Case-studies (after VirtoCommerce).
![image](https://user-images.githubusercontent.com/43133766/49593111-a005a280-f994-11e8-8284-ed18535276d8.png)
Fix list of best ecommerce platforms
![image](https://user-images.githubusercontent.com/43133766/49593215-d7744f00-f994-11e8-9266-f884a1876438.png)

[2018-12-06 15:46] blazemachine commented on #115
Done.
![image](https://user-images.githubusercontent.com/43133766/49594566-f1fbf780-f997-11e8-9b09-3e5daa8bb10f.png)

[2018-12-06 16:33] AndrewYunisov commented on #115
Looks OK for me.
1) Please, add the attached graphic.  I think it could be shortened in size.
2)
![shutterstock_519384478](https://user-images.githubusercontent.com/27814609/49597498-9d537f00-f98d-11e8-8976-ee722feca9f6.jpg)
Please, release and add to the left menu here - https://virtocommerce.com/glossary.

[2018-12-07 00:05] Woland2k commented on #108
@tatarincev still not fully fixed

[2018-12-07 07:31] blazemachine commented on #115
Full page with picture:
![image](https://user-images.githubusercontent.com/43133766/49633647-f8cc4e00-fa1b-11e8-8f5a-2c331de21dc1.png)

[2018-12-07 08:01] AndrewYunisov commented on #115
I would make it 2 times smaller. Can you give me the URL to check?

[2018-12-07 08:03] blazemachine commented on #115
I can't. It is not released yet.

[2018-12-07 13:53] blazemachine commented on #113
Done.
![image](https://user-images.githubusercontent.com/43133766/49651569-65ae0b00-fa51-11e8-81b8-68fdc976f959.png)

[2018-12-07 13:56] AndrewYunisov commented on #113
We need to add case studies block.

[2018-12-09 18:24] AndrewYunisov opened #120 "Updates for https://virtocommerce.com/case-studies/kupinatao"
1. New case study file attached.
[Virto Commerce Case Study Alibaba Kupinatao 2018.pdf](https://github.com/VirtoCommerce/vc-content/files/2660852/Virto.Commerce.Case.Study.Alibaba.Kupinatao.2018.pdf)
2. Building a National E-Commerce Leader -> Adapting a National Ecommerce Marketplace
3. New quote:
“Using Virto Commerce platform capabilities, we created powerful marketplace system. We addressed or

[2018-12-09 23:39] mpennie opened #121 "Update PDF and content for Case Study for Kupinatao on www.virtocommerce.com/case-studies"
Hello: Would you please update this case study for Kupinatao on the main case study page and on its individual page?
1) Add on the main case studies page.
Kupinatao Logo:
![logo_kupinatao_main_page](https://user-images.githubusercontent.com/43222967/49704417-a334a480-fbc7-11e8-8868-504193a3f940.png)
Title: Adapting a National Ecommerce Marketplace

2) Then add a new click-though page to include:
T

[2018-12-09 23:54] mpennie opened #122 "Add new case study for Eminent IT on virtocommerce.com/case-studies"
Hello, would you please create a new case study box on virtocommerce.com/case-studies and a click-through page with the below content?

1) New case study box on this page: virtocommerce.com/case-studies
Logo:
![eminent it-logo-white](https://user-images.githubusercontent.com/43222967/49704578-71244200-fbc9-11e8-938e-dafb5c881169.png)
Red category: GOVERNMENT SUPPLY CHAIN
TITLE: US Government Suppl

[2018-12-10 15:20] blazemachine commented on #120
Done.
Case-studies page
![image](https://user-images.githubusercontent.com/43133766/49741714-dacf4980-fcb8-11e8-82f6-c61f7ae341a4.png)
Kupinatao page
![image](https://user-images.githubusercontent.com/43133766/49741813-06eaca80-fcb9-11e8-9c66-06c3e7dbe3f4.png)

[2018-12-11 07:34] Andrew-Orlov opened #124 "Fix the behavior of adding a product to a shopping/wish list"
Shopping/wish list should be transient until saving with some products. A collection of lists should be stored in store theme settings. Be sure that personal cabinet should not create a persistent lists.

[2018-12-13 13:57] tatarincev commented on #120
Done https://virtocommerce.com/case-studies/kupinatao

[2018-12-13 13:57] #120 closed

[2018-12-13 13:57] tatarincev commented on #113
done https://virtocommerce.com/glossary/magento-alternatives

[2018-12-13 13:57] #113 closed

[2018-12-13 13:58] tatarincev commented on #115
@AndrewYunisov  please check this issue on https://virtocommerce.com

[2018-12-13 14:52] tatarincev commented on #108
Done https://staging.virtocommerce.com/case-studies/bosch

[2018-12-13 15:57] mpennie opened #126 "Replace the Wrong image on Bosch Case Study Page - it is from Proffsmagasinet"
Please change the image to a Bosch case study image per the attached. (The one that is there is from Proffs even though it shows Bosch products).
![bosch-partner-portal-03 2](https://user-images.githubusercontent.com/43222967/49950451-b3d96900-feac-11e8-9353-1e699ecf5ae9.png)

[2018-12-13 16:13] mpennie commented on #122
In the second sentence -- Can you please edit the word "consulting"? It is misspelled. Thank you.

[2018-12-13 17:36] Woland2k commented on #108
Still wrong, background image is proffs not bosch

[2018-12-13 17:48] tatarincev commented on #108
Try to reset  browser cache

[2018-12-13 17:50] Woland2k commented on #108
I did, i disabled caching and tried opening in the different browser. Still the same old background. Post the screenshot of what you see.

[2018-12-13 18:04] tatarincev commented on #108
https://user-images.githubusercontent.com/7566324/48930344-91c97800-eef8-11e8-999a-6f37a060bd64.png

[2018-12-13 18:13] Woland2k commented on #108
Ok, i see it in production site, the URL above was for staging which still had old image.

[2018-12-13 18:13] #108 closed

[2018-12-13 20:54] #115 closed

[2018-12-14 05:32] tatarincev commented on #126
![image](https://user-images.githubusercontent.com/7566324/49984838-632c4380-ff72-11e8-8a5a-9a868c8fc86d.png)
https://virtocommerce.com/case-studies/bosch

[2018-12-14 05:32] #126 closed

[2018-12-14 12:52] blazemachine commented on #121
With changes from #120, it will look like that
![image](https://user-images.githubusercontent.com/43133766/50004456-01e38f00-ffc9-11e8-9e1b-1f686c408fee.png)

[2018-12-14 14:44] blazemachine commented on #122
Fixed.

[2018-12-18 23:50] mpennie commented on #122
Hi Sergey: Will you please make it live?
@Sergey Podguzov<mailto:spo@virtoway.com>

Megan Pennie
Virto Commerce
https://virtocommerce.com
P: 323-377-1687 | Los Angeles, CA

[signature_1134461847]<https://www.virtocommerce.com/>

From: Sergey Podguzov <notifications@github.com>
Reply-To: VirtoCommerce/vc-content <reply@reply.github.com>
Date: Friday, December 14, 2018 at 6:45 AM
To: VirtoCommerce/v

[2018-12-19 09:00] blazemachine commented on #121
Good day. You need approve it or smth.

[2018-12-19 17:42] mpennie commented on #121
Good day: Would you remove the bottom half of the text -- so that only this portion in the screenshot is displayed? They the user will be able to get the full case study when they download it. Thank you.
<img width="720" alt="screen shot 2018-12-19 at 9 41 02 am" src="https://user-images.githubusercontent.com/43222967/50237687-6197bc80-0372-11e9-93aa-15b50b6376d1.png">

[2018-12-20 13:02] blazemachine commented on #121
Done.

[2018-12-20 14:10] mpennie commented on #122
Hi Sergey - I still do not see it live on virtocommerce.com/case-studies. Can you please check and make it live?

[2018-12-21 08:53] tatarincev opened #130 "Remove mobile application from try-now/online-demo"
Ionic framework no longer supported and this link  http://view.ionic.io leads 404 error.
I think we need to temporary remove this link from this page to don't misleading our customers.
https://virtocommerce.com/try-now/online-demo

![image](https://user-images.githubusercontent.com/7566324/50333447-11556180-050e-11e9-81ca-898f06462a96.png)

[2018-12-21 13:00] #122 closed

[2018-12-21 13:00] #130 closed

[2018-12-21 13:08] tatarincev commented on #121
https://virtocommerce.com/case-studies/kupinatao

[2018-12-21 13:08] #121 closed

[2018-12-21 13:09] #98 closed

[2018-12-24 20:37] AndrewYunisov opened #133 "New glossary page "API-Based Digital Commerce Systems""
[Understanding the Different Aspects of API-Based Digital Commerce Systems.docx](https://github.com/VirtoCommerce/vc-content/files/2707720/Understanding.the.Different.Aspects.of.API-Based.Digital.Commerce.Systems.docx)
URL: /api-based-digital-commerce
Title: <title>API-Based Digital Commerce Definition and Meaning | Glossary VirtoCommerce</title>
H1: API-Based Digital Commerce Definition and Meani

[2018-12-26 12:58] blazemachine commented on #133
Done.
![image](https://user-images.githubusercontent.com/43133766/50446627-c8e7da80-0937-11e9-8103-f4007655a417.png)

[2018-12-27 05:47] AndrewYunisov commented on #133
Let's add the comment block, please.

[2018-12-27 07:38] blazemachine commented on #133
![image](https://user-images.githubusercontent.com/43133766/50470920-537e1780-09d4-11e9-9f3e-c0044ed5b8cc.png)

[2018-12-27 07:43] AndrewYunisov commented on #133
OK, please merge.

[2018-12-28 17:53] AndrewYunisov opened #139 "Digital Experience Platforms page"
New glossary page. URL /digital-experience-platforms
[DXP - All About Digital Experience Platforms.docx](https://github.com/VirtoCommerce/vc-content/files/2715381/DXP.-.All.About.Digital.Experience.Platforms.docx)
Comments block needed, pic attached. Alt - Digital Experience Platforms.
![shutterstock_493152733](https://user-images.githubusercontent.com/27814609/50523707-a9d97c00-0ae2-11e9-89b2-079

[2019-01-14 19:33] mpennie opened #141 "Add New Case Study - Estate Spain to www.virtocommerce.com/case-studies"
Hello: Please add this new content for the Estate Spain case study.
![image](https://user-images.githubusercontent.com/43222967/51134863-8ce4be80-17ed-11e9-8468-6d37bb72afd2.png)

![image](https://user-images.githubusercontent.com/43222967/51134887-98d08080-17ed-11e9-93f2-00b86d78ae6e.png)

[Virto Commerce Case Study Estate Spain_final.pdf](https://github.com/VirtoCommerce/vc-content/files/2756709

[2019-01-15 10:12] tatarincev commented on #141
Ok, today will be delivered.

[2019-01-15 12:51] blazemachine commented on #141
Done.
![image](https://user-images.githubusercontent.com/43133766/51181840-1085d480-18ee-11e9-9ddf-f27a958c83e0.png)
![image](https://user-images.githubusercontent.com/43133766/51181879-33b08400-18ee-11e9-9721-02650a476f04.png)

[2019-01-15 14:15] tatarincev commented on #141
@blazemachine Where is PR?

[2019-01-17 15:56] blazemachine opened #145 "Problems with elements position on try-now page"
We have a problems with several elements on try-now page, see screenshot.
![image.png](https://images.zenhubusercontent.com/5b98bf1c6eb3db57432763b0/e5d07ad6-1fe4-487a-9206-fc7c1f22f0eb)

[2019-01-17 15:58] blazemachine commented on #145
Fixed.
![image](https://user-images.githubusercontent.com/43133766/51331055-a3fc0880-1a9a-11e9-8b5f-97b0621a0b07.png)

[2019-01-17 16:04] blazemachine commented on #145
This problem has been caused by unnecessary closing div tags.

[2019-01-21 11:25] eMazeika opened #148 "Update platform-settings.md"
Need to update [platform-settings.md](https://github.com/VirtoCommerce/vc-content/blob/deploy/pages/docs/vc2devguide/deployment/platform-settings.md) as there is no other source to know the configuration options. The page was last updated in 2016, and many important settings are missing: EnableBundlesOptimizations, AutoInstallModuleBundles, Authentication, etc.

[2019-01-25 14:41] mpennie opened #150 "New Blog Post - Virto Commerce Product Release Notes February 2019 -- https://virtocommerce.com/blog/category/technical"
![image](https://user-images.githubusercontent.com/43222967/51752419-50765580-206c-11e9-8294-e3ef02b7440d.png)
[Virto Product Release Notes Jan 2019.pdf](https://github.com/VirtoCommerce/vc-content/files/2796554/Virto.Product.Release.Notes.Jan.2019.pdf)
![release notes](https://user-images.githubusercontent.com/43222967/51752445-5f5d0800-206c-11e9-847a-d5511716a81b.png)

[2019-01-25 14:43] mpennie commented on #150
Hello Evgeny, would you please create a new blog post? Use the image as the blog artwork. Use the content pasted here as the blog post body. And can you also attached the PDF as well? If not, please ignore the PDF. Thank you.

![image](https://user-images.githubusercontent.com/43222967/51752537-959a8780-206c-11e9-8f73-73bd03ec1f08.png)

[2019-01-25 15:02] tatarincev commented on #150
@blazemachine  Please take this issue to work

[2019-01-25 18:44] mpennie opened #151 "Create new RFP Landing page - on virtocommerce.com/free-sample-RFP"
(Header) Get started with B2B Ecommerce with this Sample RFP Template

(Description text) Many companies require an RFP process to select software, and that can be a resource-intensive 3+ month endeavor. We created this template RFP to help get you started.
However, another approach is to get there faster with a Proof of Concept -- and Virto can do a POC for free. Ask us how. (link "Ask us how" to

[2019-01-28 13:30] blazemachine commented on #150
Learn more - link for pdf file.

[2019-01-28 14:49] mpennie commented on #150
Yes – this looks good. Thank you.
Megan

From: Sergey Podguzov <notifications@github.com>
Reply-To: VirtoCommerce/vc-content <reply@reply.github.com>
Date: Monday, January 28, 2019 at 5:29 AM
To: VirtoCommerce/vc-content <vc-content@noreply.github.com>
Cc: Megan Pennie <Megan.Pennie@virtoway.com>, Author <author@noreply.github.com>
Subject: Re: [VirtoCommerce/vc-content] New Blog Post - Virto Comm

[2019-01-30 17:46] blazemachine commented on #151
Done.
![image](https://user-images.githubusercontent.com/43133766/52001147-8db16c00-24e0-11e9-9193-891c5f404c13.png)
Is it looking correct? I will wait for your remarks if they will need.

[2019-01-30 18:49] Tanyaper commented on #151
Hi!
I think the two buttons at the bottom are confusing.  Can we change this to email the user the template instead of an instant download? If so, let's have one button at the bottom that says "Email Sample RFP Template to me".

[2019-01-31 17:47] mpennie commented on #150
Hi @tatarincev -- Nick had more input. So -- We have an edit to the page -- can you please use this updated PDF? Also are you able to create a webpage of content and also have the PDF link?
[Virto Product Release Notes Jan 2019.pdf](https://github.com/VirtoCommerce/vc-content/files/2818420/Virto.Product.Release.Notes.Jan.2019.pdf)

[2019-02-01 08:02] tatarincev commented on #151
I agree with @Tanyaper, since we use Autopilot to send emails, the best and easiest solution is to send an RFP template as an email attachment, and you can include this template as email  attachment via  Autopilot management portal.

[2019-02-01 14:17] blazemachine commented on #150
Done.
![image](https://user-images.githubusercontent.com/43133766/52128162-0980f500-2656-11e9-889e-9f4cda045df8.png)

[2019-02-01 15:02] tatarincev commented on #151
Done https://virtocommerce.com/free-sample-RFP the next steps I guess place link to this form somewhere and configure autopilot to send email

[2019-02-01 15:05] tatarincev commented on #150
Done https://virtocommerce.com/blog/virtocommerce-product-release-notes-february-2019

[2019-02-01 15:05] #150 closed

[2019-02-01 15:06] Tanyaper commented on #151
Thanks.  We are going to make some changes to the text in the form to make it more clear this would be emailed.

________________________________
From: Tatarincev Eugeney <notifications@github.com>
Sent: Friday, February 1, 2019 10:02:11 AM
To: VirtoCommerce/vc-content
Cc: Tanya Peress; Mention
Subject: Re: [VirtoCommerce/vc-content] Create new RFP Landing page - on virtocommerce.com/free-sample-R

[2019-02-04 16:07] 5309 opened #159 "Improve the list structure on a Roadmap page"
Page: https://virtocommerce.com/roadmap
Section "Updated in January 2019" has two columns with roadmap items.

New roadmap was released.
We have now: the first column contains 4 items (starting with "Migration to .NET Core Framework" and finishing with "Drastic Performance Improvements"), the second column contains 8 items (starting with "CMS Landing Page Builder" and finishing with "Property Mana

[2019-02-04 18:33] Woland2k commented on #159
@5309  you can actually move it around yourself https://github.com/VirtoCommerce/vc-content/blob/deploy/pages/roadmap.md

[2019-02-06 13:57] blazemachine commented on #159
Done.
![image](https://user-images.githubusercontent.com/43133766/52346204-e59c2580-2a40-11e9-8194-9ff79b3a86bf.png)
Also you may see it on https://staging.virtocommerce.com/roadmap

[2019-02-09 00:07] mpennie opened #162 "Post New Page in Virtocommerce.com NEWS for this Rainbow Sandals Press Release by Feb 11"
![image](https://user-images.githubusercontent.com/43222967/52512774-962e3480-2bbb-11e9-8e0c-d96f0bbd484d.png)

[2019-02-11 18:34] mpennie commented on #162
Add this image
![rainbow virto](https://user-images.githubusercontent.com/43222967/52585030-90696680-2de8-11e9-92ec-491f4a2c654d.png)

[2019-02-11 18:36] mpennie commented on #162
Is that image the right size? If not, please let me know what the dimensions are, and I will change it.

[2019-02-11 20:05] blazemachine commented on #162
Done.
![image](https://user-images.githubusercontent.com/43133766/52590088-42914480-2e62-11e9-98ae-a0b9e0889eab.png)
Also, you may watch it on link:
https://staging.virtocommerce.com/blog/rainbow-sandals-selects-virto-commerce-platform-for-digital-commerce

[2019-02-11 20:12] mpennie commented on #162
Hi - The image I sent is too large. Would you please remove it from the body of the post. And Please replace the cover with this attached image instead -- and center it -- or resize it? Thank you.
![rainbowpr cover](https://user-images.githubusercontent.com/43222967/52590491-44bdb980-2df6-11e9-83a4-6c5f83366974.png)

[2019-02-11 21:10] blazemachine commented on #162
Please check the page on the same link. Picture was changed and removed from blog's content.

[2019-02-11 22:36] mpennie commented on #162
Looks fantastic. Done – please close the issue. Thank you!

From: Sergey Podguzov <notifications@github.com>
Reply-To: VirtoCommerce/vc-content <reply@reply.github.com>
Date: Monday, February 11, 2019 at 1:10 PM
To: VirtoCommerce/vc-content <vc-content@noreply.github.com>
Cc: Megan Pennie <Megan.Pennie@virtoway.com>, Author <author@noreply.github.com>
Subject: Re: [VirtoCommerce/vc-content] Post N

[2019-02-12 13:44] Tanyaper commented on #151
Hi,
We have decided to make this an instant download instead of an email.
Can we add a page that shows up after they click "submit request"
that says:

Thank you for downloading Virto Commerce's RFP template. If you have any questions on how to use it, or would like to learn more about Virto Commerce's free Proof of Concept, please **contact us** and we would be happy to help your ecommerce journe

[2019-02-12 14:24] tatarincev commented on #162
Published https://virtocommerce.com/blog/rainbow-sandals-selects-virto-commerce-platform-for-digital-commerce

[2019-02-12 14:24] #162 closed

[2019-02-12 14:25] tatarincev commented on #159
Published https://virtocommerce.com/roadmap

[2019-02-12 14:25] #159 closed

[2019-02-12 14:25] #69 closed

[2019-02-12 14:25] #68 closed

[2019-02-13 15:52] Tanyaper opened #168 "Remove G+ links from footer"
Hi,
We need to remove the G+ (google plus) link from the footer (social networks) as Google is shutting down Google Plus.

[2019-02-15 06:26] tatarincev commented on #168
@blazemachine Could you take this?

[2019-02-15 13:49] blazemachine commented on #139
Done.
https://staging.virtocommerce.com/glossary/digital-experience-platforms

[2019-02-15 15:02] blazemachine commented on #168
Done. You may watch it on https://staging.virtocommerce.com

[2019-02-15 15:24] blazemachine commented on #151
Page with form is available on url (/free-sample-rfp) only. We haven't GUI elements on site, that can to redirect user to form page. I need to know. What are you thinking for that? Thank you.

[2019-02-15 15:32] Woland2k commented on #151
Redirect is done within marketing software. You only need to create landing thank you page.

[2019-02-15 16:26] Tanyaper commented on #151
Hi,
As above, sorry my text above was not more clear - can we make a thank youlanding page that has the text below.  URL can be /rfpthankyou

Thank you for downloading Virto Commerce's RFP template. If you have any questions on how to use it, or would like to learn more about Virto Commerce's free Proof of Concept, please **contact us** and we would be happy to help your ecommerce journey get star

[2019-02-15 17:01] Tanyaper commented on #168
Looks good, thanks!

[2019-02-18 17:01] blazemachine commented on #151
https://staging.virtocommerce.com/free-sample-rfp
Now you may try to submit this form and after this action the rfp file will be downloaded.

[2019-02-19 06:43] tatarincev commented on #168
Published https://virtocommerce.com/

[2019-02-19 06:43] #168 closed

[2019-02-19 06:44] tatarincev commented on #139
Published https://virtocommerce.com/glossary/digital-experience-platforms

[2019-02-19 06:44] #139 closed

[2019-02-19 06:49] tatarincev commented on #148
Published https://virtocommerce.com/docs/vc2devguide/deployment/platform-settings

[2019-02-19 06:49] #148 closed

[2019-02-19 18:18] mpennie commented on #151
Hi Sergey and Eugeney:

Please make these changes on the RFP Template. Thank you:

  1.  New file: The Excel file should open to the first tab “How to Use” – however, when it downloads, it opens on the last tab/sheet (“Pricing”), instead of the first one where it starts with the introduction and instructions. You must upload a new file, attached. Does this change make sense?
  2.  Update on the pa

[2019-02-20 16:50] blazemachine commented on #151
Done.
About template file: xlsx files are keeping information about active tab. File is now will be opening with first active tab.

[2019-02-21 07:55] tatarincev commented on #151
Published https://virtocommerce.com/free-sample-rfp

[2019-02-22 18:29] Tanyaper commented on #151
Hi,
I would like to make some changes to the formatting of this page and text.  Can you please give me and @mpennie access to edit the page?

Thanks

[2019-02-25 09:05] tatarincev commented on #151
@Tanyaper I've granted access to `deploy` branch and you now be able to make direct changes with content here

[2019-03-13 18:57] Tanyaper opened #183 "Fix Issues with Mobile Page - https://virtocommerce.com/docs/vc2devguide/deployment/storefront-deployment/deploy-from-github-to-microsoft-azure"
The following page, https://virtocommerce.com/docs/vc2devguide/deployment/storefront-deployment/deploy-from-github-to-microsoft-azure has some mobile usability issues that show up in google search console that need to be looked into.  These changes are not urgent.  Issues are (for the mobile page):
1) text too small to read
2) clickable elements too close together
3) content wider than the screen

[2019-03-14 19:16] blazemachine commented on #183
Done. You may watch it on https://staging.virtocommerce.com/docs/vc2devguide/deployment/storefront-deployment/deploy-from-github-to-microsoft-azure

[2019-03-27 00:08] Tanyaper commented on #151
@tatarincev  Thanks for granting access, I've made some basic changes there.  We want to embed this video link: https://youtu.be/BZezTvC0604
on the upper right side of the page as shown.  The text on the top part would be left aligned and to the left of the video link.  It should look like the video on the homepage.  I'd do it myself but I'm not sure how to insert the video into the code.  Thanks

[2019-03-27 05:24] tatarincev commented on #151
@blazemachine could you take this request in development?

[2019-03-27 18:19] blazemachine commented on #151
Done. @Tanyaper , you may watch it on https://staging.virtocommerce.com/free-sample-rfp.

[2019-04-03 19:29] Tanyaper opened #192 "New Blog Post - Infographic"
We would like to add a new page to the blog: the text is attached and accompanying graphic is also attached.  The user should be able to click on the graphic to enlarge it.
The text should be above the graphic, and the page title should be "Top 5 Essential B2B Ecommerce Functions Infographic".   Thanks and please let me know if you have any questions.

[Blog Post- B2B features.docx](https://github

[2019-04-04 14:29] tatarincev commented on #192
@blazemachine  could you take it in work?

[2019-04-04 18:13] blazemachine commented on #192
@Tanyaper you may watch it on the https://staging.virtocommerce.com/blog
With image on the page is possible this variant, it looks may be huge or not. Is really need to add a possibility for scale?

[2019-04-04 18:14] Tanyaper commented on #192
Hi,
It does look big, can we make it a bit smaller and add a black border around the image? Otherwise looks good,  Thanks!!

________________________________
From: Sergey Podguzov <notifications@github.com>
Sent: Thursday, April 4, 2019 2:13:07 PM
To: VirtoCommerce/vc-content
Cc: Tanya Peress; Mention
Subject: Re: [VirtoCommerce/vc-content] New Blog Post - Infographic (#192)

@Tanyaper<https://git

[2019-04-05 16:46] blazemachine commented on #192
@Tanyaper
Please, check https://staging.virtocommerce.com/blog/infographic
Image size was changed. You may click on this image and watch in other mode.

[2019-04-05 17:34] Tanyaper commented on #192
Looks great! Thanks!!

________________________________
From: Sergey Podguzov <notifications@github.com>
Sent: Friday, April 5, 2019 12:46:56 PM
To: VirtoCommerce/vc-content
Cc: Tanya Peress; Mention
Subject: Re: [VirtoCommerce/vc-content] New Blog Post - Infographic (#192)

@Tanyaper<https://github.com/Tanyaper>
Please, check https://staging.virtocommerce.com/blog/infographic
Image size was chang

[2019-04-09 17:34] Tanyaper commented on #192
Hi, Ca we please put into production? Thanks!

[2019-04-09 21:46] mpennie opened #195 "New blog post - Press Release - B2B Online Chicago"
Hi - Please create a new blog post under Virto News for this Press Release, and use the attached banner image. Thank you.
![image](https://user-images.githubusercontent.com/43222967/55837406-27475c00-5ad6-11e9-92bf-8c79cbb50554.png)

![Virto blog banner B2B Online Image](https://user-images.githubusercontent.com/43222967/55837331-e9e2ce80-5ad5-11e9-9740-6f144f0cc1a1.png)

[2019-04-10 10:43] tatarincev commented on #195
@blazemachine  please take this task

[2019-04-10 10:44] tatarincev commented on #192
Done https://virtocommerce.com/blog/infographic

[2019-04-10 10:44] #192 closed

[2019-04-10 16:18] blazemachine commented on #195
@mpennie You may check the result on the https://staging.virtocommerce.com/blog/press-release-b2b-online-chicago page.

[2019-04-10 17:00] mpennie commented on #195
Sergey, thank you. Would you change the headline to be “Virto Commerce at B2B Online Event in Chicago” (delete Press Release).
Thank you.
@Sergey Podguzov<mailto:spo@virtoway.com>

From: Sergey Podguzov <notifications@github.com>
Reply-To: VirtoCommerce/vc-content <reply@reply.github.com>
Date: Wednesday, April 10, 2019 at 9:18 AM
To: VirtoCommerce/vc-content <vc-content@noreply.github.com>
Cc: Me

[2019-04-10 17:12] blazemachine commented on #195
Done. Url has been changed. Check the https://staging.virtocommerce.com/blog/virto-commerce-at-b2b-online-event-in-chicago page.

[2019-04-10 17:24] mpennie commented on #195
Great. Please publish live tomorrow, April 11 @Sergey Podguzov<mailto:spo@virtoway.com> thank you.

From: Sergey Podguzov <notifications@github.com>
Reply-To: VirtoCommerce/vc-content <reply@reply.github.com>
Date: Wednesday, April 10, 2019 at 10:13 AM
To: VirtoCommerce/vc-content <vc-content@noreply.github.com>
Cc: Megan Pennie <Megan.Pennie@virtoway.com>, Mention <mention@noreply.github.com>
Sub

[2019-04-11 07:50] tatarincev commented on #195
Done https://virtocommerce.com/blog/virto-commerce-at-b2b-online-event-in-chicago

[2019-04-11 07:50] #195 closed

[2019-04-11 11:57] eMazeika opened #199 "Documentation site loading error when direct link used"
When using absolute URL link to open a particular article in documentation site, a never ending loading indicator is displayed:
![image](https://user-images.githubusercontent.com/5801549/55955172-61953280-5c69-11e9-8255-c7954c603f80.png)
Though the content is displayed correctly, when browsing inside the site.

[2019-05-04 06:59] mpennie opened #201 "New blog post: News section -- Press Release announcing RB2 Partnership"
Please post on: Tuesday May 7, 2019. Use this image as the header graphic. Thank you.

![Blog post PR for RB2 and Virto](https://user-images.githubusercontent.com/43222967/57175322-5748fd00-6dff-11e9-8ef1-c3a2b33dddb5.png)

![image](https://user-images.githubusercontent.com/43222967/57175295-e9043a80-6dfe-11e9-8a6c-381c716f4c6d.png)

[2019-05-06 06:16] tatarincev commented on #201
@blazemachine Please take this in work

[2019-05-06 13:28] blazemachine commented on #201
@mpennie You may watch the result on the https://staging.virtocommerce.com/blog page.

[2019-05-07 06:09] mpennie commented on #201
Terrific. Thank you! Will you make it live on May 7th, 2019 please. Thank you.

From: Sergey Podguzov <notifications@github.com>
Reply-To: VirtoCommerce/vc-content <reply@reply.github.com>
Date: Monday, May 6, 2019 at 6:28 AM
To: VirtoCommerce/vc-content <vc-content@noreply.github.com>
Cc: Megan Pennie <Megan.Pennie@virtoway.com>, Mention <mention@noreply.github.com>
Subject: Re: [VirtoCommerce/vc

[2019-05-08 06:04] tatarincev commented on #201
done

[2019-05-08 06:04] #201 closed

[2019-05-27 22:24] mpennie opened #203 "Add New Case Study for Standaard Boekhandel to vc.com/case-studies"
Please add this new case study to the page: https://virtocommerce.com/case-studies
Make a new rectangle withe the Standaard Boekhandel Logo:
![SBoekhandellogohorizontaal](https://user-images.githubusercontent.com/43222967/58440922-b1ea1780-8092-11e9-822c-07e4fb8b079a.png)
1) Add the heading in Red: RETAIL & DISTRIBUTION
2) Objective: Replatform for Flexible Ordering & Distribution
3) Create the su

[2019-05-28 08:02] tatarincev commented on #203
@blazemachine Could you take this issue in work?

[2019-05-28 12:17] blazemachine commented on #203
Hello, @mpennie you may watch the result on the https://staging.virtocommerce.com/case-studies page and on the https://staging.virtocommerce.com/case-studies/standaard-boekhandel page.

[2019-05-28 13:52] mpennie commented on #203
Thank you. Could you move the new Standaard Boekhandel rectangle to the top of this page, to the right of the Bosch content? https://staging.virtocommerce.com/case-studies

Also Please use this PDF attached in the download file (I made an edit). Thank you.
[Standaard Boekhandel_Virto Commerce_Case Study_Final.pdf](https://github.com/VirtoCommerce/vc-content/files/3227970/Standaard.Boekhandel_Virto

[2019-05-28 14:11] blazemachine commented on #203
Done.

[2019-05-28 15:32] mpennie commented on #203
Please fix my typo above in the description on this first page: in the word "aligned" - remove the "s":

Online bookseller aligned online & offline ordering and complex pricing to deliver a faster and more efficient ordering process.
https://staging.virtocommerce.com/case-studies

[2019-05-28 15:53] blazemachine commented on #203
Fixed.

[2019-05-28 17:19] mpennie commented on #203
Thanks. Please wait for final approval - Do not put on the live site yet. Thank you

[2019-06-03 04:20] mpennie opened #208 "Add new Press Release for Virto V3 to blog https://virtocommerce.com/blog"
Hello-- This is DRAFT - DO NOT POST until we confirm --> - please add this new press release to the Virto Commerce blog https://virtocommerce.com/blog

Topic: Virto Version 3 Product Release
![VERSION 3](https://user-images.githubusercontent.com/43222967/58775712-c2f7c480-857b-11e9-8eda-937f6d0ad700.png)
​​Virto Commerce, a leading B2B digital commerce platform, today launched a new Beta release o

[2019-06-03 14:30] tatarincev commented on #208
@mpennie Can we publish this blog post?

[2019-06-03 14:32] blazemachine commented on #208
@mpennie You may watch the result on the https://staging.virtocommerce.com/blog page.

[2019-06-03 14:33] mpennie commented on #208
No – please hold it until 9am PT tomorrow June 4th.

From: Tatarincev Eugeney <notifications@github.com>
Reply-To: VirtoCommerce/vc-content <reply@reply.github.com>
Date: Monday, June 3, 2019 at 7:30 AM
To: VirtoCommerce/vc-content <vc-content@noreply.github.com>
Cc: Megan Pennie <Megan.Pennie@virtoway.com>, Mention <mention@noreply.github.com>
Subject: Re: [VirtoCommerce/vc-content] Add new Press

[2019-06-03 17:15] mpennie commented on #208
Hello: Do not post until June 4th.
1) Please remove last bullet point "• 20 Modules: New modules and migrated modules now are on V3 Core. Notification functionality which was spread by the system will be consolidated in a new Notification module with transparent structure.

2) Please fix spacing on the bullets.
3) It looks like some text is bold and others is not

[2019-06-04 07:09] mpennie commented on #208
Please HOLD - Publish June 5th at 9 AM Pacific

[2019-06-04 15:09] mpennie opened #215 "Add to vc.com blog - Virto Version 3 Beta: Product Release Notes"
Please add to the virtocommerce.com/blog these "Virto Version 3 Beta: Product Release Notes"
[VC version 3 release notes.docx](https://github.com/VirtoCommerce/vc-content/files/3253074/VC.version.3.release.notes.docx)
![VERSION 3_blog post graphic](https://user-images.githubusercontent.com/43222967/58890680-f3388380-869f-11e9-989f-ff4f0fd2b3d4.png)

[2019-06-04 15:13] blazemachine commented on #208
@mpennie check please the page on staging and approve or not

[2019-06-04 21:48] mpennie commented on #208
Hello @blazemachine Please do not post -- we are putting this on HOLD. We need to make more edits. Thank you. I will update you when I have new copy.

[2019-06-10 03:21] mpennie opened #216 "Add new case study to https://virtocommerce.com/case-studies for Lavazza"
![Lavazza](https://user-images.githubusercontent.com/43222967/59171244-edef9480-8af6-11e9-81b3-6b909d40c149.jpeg)

Add new rectangle for LAVAZZA at top next to Bosch https://virtocommerce.com/case-studies
Use logo
RETAILER & DISTRIBUTOR
Objective: B2B & B2C Online Store Platform
**Created new, Unified ecommerce platform for B2B & B2C and gained insights into customer behavior**

THE CHALLENGE
Lava

[2019-06-10 03:40] mpennie commented on #216
DRAFT - Please hold

[2019-06-10 16:14] blazemachine commented on #215
Published on the https://staging.virtocommerce.com/blog page.

[2019-06-17 23:20] mpennie commented on #216
Hi - Go ahead and make it live please. If there are edits later, I will get back to you. Thank you.

[2019-06-18 01:07] mpennie opened #220 "Update tracking code and button type - virtocommerce.com/case-studies pages"
We need your help to 1) change the button code on the case study pages and 2) add a new tracking code to the https://virtocommerce.com/case-studies  pages – and all child pages. For example on: https://virtocommerce.com/case-studies/bosch and every page under case-studies.
See below:

1. The tracking code needs to be replaced with the new one here: https://app.autopilo…ings/anywhere-tracking/websi

[2019-06-18 07:20] mpennie commented on #220
the button type isn't allowing submissions of the form
https://cl.ly/67e207da0817

[2019-06-18 15:24] mpennie commented on #216
See new PDF -- please make it live.
[Virto Commerce Lavazza Case Study_v3.pdf](https://github.com/VirtoCommerce/vc-content/files/3302225/Virto.Commerce.Lavazza.Case.Study_v3.pdf)

[2019-06-19 16:40] mpennie opened #221 "Change PDF download for https://virtocommerce.com/case-studies/bosch"
Please remove the old PDF for Bosch Case Study and replace it with this one:
[Virto Commerce Case Study Bosch.pdf](https://github.com/VirtoCommerce/vc-content/files/3306998/Virto.Commerce.Case.Study.Bosch.pdf)

[2019-06-20 09:41] blazemachine commented on #216
Done. https://staging.virtocommerce.com/case-studies/lavazza

[2019-06-20 12:49] mpennie commented on #216
It does not look like the PDF is downloading. Can you help?

From: Sergey Podguzov <notifications@github.com>
Reply-To: VirtoCommerce/vc-content <reply@reply.github.com>
Date: Thursday, June 20, 2019 at 2:41 AM
To: VirtoCommerce/vc-content <vc-content@noreply.github.com>
Cc: Megan Pennie <Megan.Pennie@virtoway.com>, Author <author@noreply.github.com>
Subject: Re: [VirtoCommerce/vc-content] Add new

[2019-06-26 15:41] mpennie commented on #216
Hello @blazemachine  - would you please swap out the PDF file on the case study for this one attached
[Virto Commerce Lavazza Case Study_NL.pdf](https://github.com/VirtoCommerce/vc-content/files/3330896/Virto.Commerce.Lavazza.Case.Study_NL.pdf)
?
Thank you,
Megan

[2019-06-26 19:05] tatarincev commented on #221
Published

[2019-06-26 19:05] #221 closed

[2019-06-26 19:06] tatarincev commented on #220
Published

[2019-06-26 19:06] #220 closed

[2019-06-26 19:07] tatarincev commented on #216
Published https://virtocommerce.com/case-studies/lavazza

[2019-06-26 19:07] #216 closed

[2019-06-26 19:08] tatarincev commented on #215
Still on hold, @mpennie  let us known when this article will be ready for publish

[2019-06-26 19:09] tatarincev commented on #215
Published https://virtocommerce.com/blog/virto-version-3-beta-product-release-notes

[2019-06-26 19:09] #215 closed

[2019-06-26 19:09] tatarincev commented on #208
Still on hold, @mpennie  let us known when this article will be ready for publish

[2019-06-26 19:11] tatarincev commented on #203
@mpennie  somehow this case study was published with other changes, Should we remove it from publication?

[2019-06-26 19:13] tatarincev commented on #199
Published

[2019-06-26 19:13] #199 closed

[2019-06-26 20:32] mpennie commented on #203
@Eugeny Tatarincev<mailto:et@virtoway.com> Yes – please do remove it from publication. We are still waiting on approval from the client. They have been delayed, so it makes me think there must be changes coming. Thank you.

From: Tatarincev Eugeney <notifications@github.com>
Reply-To: VirtoCommerce/vc-content <reply@reply.github.com>
Date: Wednesday, June 26, 2019 at 12:11 PM
To: VirtoCommerce/vc-

[2019-06-29 14:50] mpennie opened #229 "Wrong title in PDF browser bar for Case Study - Lavazza"
Hello: the Lavazza PDF is tagged as Standard Bockhandel in the browser bar on the PDF: https://virtocommerce.com/assets/files/lavazza-case-study.pdf

Please edit this -- and the be sure to check and edit those in the future so they are correct for the PDF on each case study. Thank you.

[2019-06-29 19:21] mpennie commented on #203
@tatarincev  @blazemachine
[Virto Commerce Standaard Boekhandel Case Study.pdf](https://github.com/VirtoCommerce/vc-content/files/3342233/Virto.Commerce.Standaard.Boekhandel.Case.Study.pdf)
Please update the file with this PDF for download. Be sure the browser bar indicates the right file name. Thank you!

[2019-06-29 19:23] mpennie commented on #203
I don't see Lavazza or Standaard Boekhandel up -- where did they go?

[2019-07-01 02:45] mpennie opened #230 "Missing Case Studies on https://virtocommerce.com/case-studies - Lavazza and Standaard Boekholden"
Our case studies Lavazza and Standaard Boekhandel are not on this page:
https://virtocommerce.com/case-studies

These pages are still live, which is good - but they have nothing pointing to it from main case study page: https://virtocommerce.com/case-studies/lavazza
https://virtocommerce.com/case-studies/standaard-boekhandel

Thank you. - Megan

[2019-07-01 02:48] mpennie commented on #230
Please be sure to post the NEW file for download PDF for Standaard Boekhandel -- here it is:
[Virto Commerce Standaard Boekhandel Case Study.pdf](https://github.com/VirtoCommerce/vc-content/files/3343754/Virto.Commerce.Standaard.Boekhandel.Case.Study.pdf)

[2019-07-01 13:22] tatarincev commented on #230
Have been published https://virtocommerce.com/case-studies.
We unpublished these case-studies because your requested us to postpone. Now we have published them again.

[2019-07-02 13:07] #230 closed

[2019-07-02 13:08] tatarincev commented on #203
Published  https://virtocommerce.com/case-studies

[2019-07-02 13:08] #203 closed

[2019-07-02 13:10] #82 closed

[2019-07-05 13:32] mpennie opened #232 "Edit to https://virtocommerce.com/case-studies/standaard-boekhandel"
Please replace this second paragraph (need to remove SAP Hybris mention) on: https://virtocommerce.com/case-studies/standaard-boekhandel

Standaard Boekhandel chose to replatform to Virto Commerce in order to gain capabilities they did not have on their previous ecommerce platform, because they wanted to extend their product offering, integrate efficiently with different channels, and improve the

[2019-07-15 17:22] mpennie opened #233 "New blog post: New Partner Director John Sekevitch: https://virtocommerce.com/blog/category/virtocommerce-news"
Hello - please add this as a blog post:
![image](https://user-images.githubusercontent.com/43222967/61235570-d2823580-a703-11e9-8a41-265c9c173da4.png)

![Blog post header JOHN S](https://user-images.githubusercontent.com/43222967/61235132-bc27aa00-a702-11e9-96d8-c9e26d65d373.png)

[2019-07-16 06:16] tatarincev commented on #233
@blazemachine Please take this in work

[2019-07-16 13:34] blazemachine commented on #233
@mpennie You may watch the result on the https://staging.virtocommerce.com/blog/new-partner-director-john-sekevitch page.

[2019-07-16 14:28] mpennie commented on #233
Looks great. Thank you

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Sergey Podguzov <notifications@github.com>
Sent: Tuesday, July 16, 2019 9:34:52 AM
To: VirtoCommerce/vc-content
Cc: Megan Pennie; Mention
Subject: Re: [VirtoCommerce/vc-content] New blog post: New Partner Director John Sekevitch: https://virtocommerce.com/blog/category/virtocommerce-news (#233

[2019-07-16 15:13] tatarincev commented on #233
Published  https://virtocommerce.com/blog/new-partner-director-john-sekevitch

[2019-07-16 15:13] #233 closed

[2019-07-29 18:12] mpennie opened #236 "Swap PDF on Case Study for Standaard Boekhandel"
Hello: Please swap the download PDF for the Standaard Boekhandel case study for this one.
Thank you.
Megan
[Virto Commerce Standaard Boekhandel Case Study.pdf](https://github.com/VirtoCommerce/vc-content/files/3443653/Virto.Commerce.Standaard.Boekhandel.Case.Study.pdf)

[2019-07-31 05:44] tatarincev commented on #236
Done

[2019-07-31 05:44] #236 closed

[2019-08-01 06:56] tatarincev opened #237 "As a Content Manager, I want to find a certain page by permalink string, so that I can proceed with editing the selected page"
@vturovets commented on [Fri Jul 26 2019](https://github.com/VirtoCommerce/vc-platform/issues/1614)

**Problem:**
This is pretty much the same as #1612  with the only difference that the search string contains  so called a permalink which could be specified with the slash symbol at the beginning (Pic. 1).
![image](https://user-images.githubusercontent.com/20731316/61956338-93869680-afc5-11e9-9cf3-

[2019-08-01 06:56] tatarincev opened #238 "As a Content Manager, I want to find a certain page by permalink string, so that I can proceed with editing the selected page"
@vturovets commented on [Fri Jul 26 2019](https://github.com/VirtoCommerce/vc-platform/issues/1614)

**Problem:**
This is pretty much the same as #1612  with the only difference that the search string contains  so called a permalink which could be specified with the slash symbol at the beginning (Pic. 1).
![image](https://user-images.githubusercontent.com/20731316/61956338-93869680-afc5-11e9-9cf3-

[2019-09-10 08:26] eMazeika opened #240 "Update "Enabling login within external providers" article"
It's about 3.5 year since the last update to https://virtocommerce.com/docs/vc2devguide/working-with-storefront/enabling-login-within-external-providers article. It was written for Storefront v2 and now we have v4.
Resolutions:
1. Mark the article as obsolete and tag as "v2" specific. And write a new article.
2. Just update the article to comply with the latest Storefront

[2019-09-10 08:46] eMazeika opened #241 "Update platform-settings.md 2"
Need to update [platform-settings.md](https://github.com/VirtoCommerce/vc-content/blob/deploy/pages/docs/vc2devguide/deployment/platform-settings.md) as there is no other source to know the configuration options. There are new settings added since the last update (eg, SmsGateway, SuppressForcingCredentialsChange)

[2019-09-18 09:17] tatarincev commented on #241
@eMazeika  How about do it yourself?

[2019-09-18 09:21] tatarincev commented on #240
@eMazeika Could you address all issue relies to virtocommerce.com site to V.Turovets and avoid of  registration these issues in GitHub repositories

[2019-09-18 10:01] eMazeika commented on #241
Thanks for the suggestion

[2019-10-08 20:21] mpennie opened #247 "Add new VC.com Blog post"
Please add this content as a new post to the Virtocommerce.com/blog page. Thank you.

![image](https://user-images.githubusercontent.com/43222967/66430184-6d6e7100-e9ce-11e9-8693-4b59e532c67a.png)
![Blog post graphic Replatorming PR post](https://user-images.githubusercontent.com/43222967/66430198-765f4280-e9ce-11e9-90b9-a1fc9b03f677.png)

[2019-10-09 07:22] eMazeika opened #248 "Update module settings.md"
Update https://virtocommerce.com/docs/vc2devguide/working-with-platform-manager/extending-functionality/managing-module-settings by adding section on "store-dependent settings": background, registration and sample code. Check "Lesson 3" take some content from it.

[2019-10-14 12:03] blazemachine commented on #247
@mpennie Hi. We are not doing for virtocommerce.com tasks now.

[2019-11-05 12:13] eMazeika commented on #241
#250

[2019-12-13 07:55] #208 closed

[2019-12-16 06:19] #183 closed

[2019-12-16 06:23] #151 closed

[2019-12-26 13:18] tatarincev commented on #16
This feature request has been closed and added to the internal product backlog.

[2019-12-26 13:18] #16 closed

[2019-12-26 13:29] tatarincev commented on #42
This issue has been closed because it has been inactive for  a long time
You may reopen this issue if it has been closed in error.

[2019-12-26 13:29] #42 closed

[2019-12-26 13:33] tatarincev commented on #56
This issue may be no longer relevant because of https://github.com/VirtoCommerce/vc-cms-page-designer

[2019-12-26 13:33] #56 closed

[2019-12-26 15:50] tatarincev commented on #237
This feature request has been closed and added to the internal product backlog.
https://virtocommerce.atlassian.net/browse/PRD-80

[2019-12-26 15:50] #237 closed

[2019-12-26 15:51] tatarincev commented on #238
This feature request has been closed and added to the internal product backlog.
https://virtocommerce.atlassian.net/browse/PRD-80

[2019-12-26 15:51] #238 closed

[2019-12-26 16:00] tatarincev commented on #240
This issue has been closed because it has been inactive for  a long time
You may reopen this issue if it has been closed in error.

[2019-12-26 16:00] #240 closed

[2019-12-26 16:01] tatarincev commented on #241
This issue has been closed because it has been inactive for  a long time
You may reopen this issue if it has been closed in error.

[2019-12-26 16:01] #241 closed

[2019-12-26 16:08] tatarincev commented on #248
This issue has been closed because it has been inactive for  a long time
You may reopen this issue if it has been closed in error.

[2019-12-26 16:08] #248 closed

[2019-12-30 09:13] tatarincev commented on #14
This issue has been closed because it has no longer relevant to the current operation nature of issues.
You may reopen this issue if it has been closed in error.

[2019-12-30 09:13] #14 closed

[2019-12-30 12:18] tatarincev commented on #39
This issue has been closed because it has been inactive for a long time
You may reopen this issue if it has been closed in error.

[2019-12-30 12:18] #39 closed

[2019-12-30 12:26] tatarincev commented on #53
This feature request has been closed and added to the internal product backlog.
https://virtocommerce.atlassian.net/browse/PRD-111

[2019-12-30 12:26] #53 closed

[2019-12-30 12:37] tatarincev commented on #72
This issue has been closed because it has been inactive for a long time
You may reopen this issue if it has been closed in error.

[2019-12-30 12:37] #72 closed

[2019-12-30 12:54] tatarincev commented on #229
This issue has been closed because it has been inactive for a long time
You may reopen this issue if it has been closed in error.

[2019-12-30 12:54] #229 closed

[2019-12-30 13:25] tatarincev commented on #81
This issue has been closed because it has been inactive for a long time
You may reopen this issue if it has been closed in error.

[2019-12-30 13:25] #81 closed

[2019-12-30 13:27] tatarincev commented on #44
This issue has been closed because it has been inactive for a long time
You may reopen this issue if it has been closed in error.

[2019-12-30 13:27] #44 closed

[2021-09-22 11:36] #247 closed

[2021-09-22 11:36] #232 closed